@font-face {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Roboto/RobotoRegular.eot");
  src: url("fonts/Roboto/RobotoRegular.eot") format("embedded-opentype"), url("fonts/Roboto/RobotoRegular.woff2") format("woff2"), url("fonts/Roboto/RobotoRegular.woff") format("woff"), url("fonts/Roboto/RobotoRegular.ttf") format("truetype"), url("fonts/Roboto/RobotoRegular.svg#RobotoRegular") format("svg"); }

@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Roboto/RobotoBold.eot");
  src: url("fonts/Roboto/RobotoBold.eot") format("embedded-opentype"), url("fonts/Roboto/RobotoBold.woff2") format("woff2"), url("fonts/Roboto/RobotoBold.woff") format("woff"), url("fonts/Roboto/RobotoBold.ttf") format("truetype"), url("fonts/Roboto/RobotoBold.svg#RobotoRegular") format("svg"); }

@font-face {
  font-family: 'RobotoItalic';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Roboto/Roboto-italic.eot");
  src: url("fonts/Roboto/Roboto-italic.eot") format("embedded-opentype"), url("fonts/Roboto/Roboto-italic.woff2") format("woff2"), url("fonts/Roboto/Roboto-italic.woff") format("woff"), url("fonts/Roboto/Roboto-italic.ttf") format("truetype"), url("fonts/Roboto/Roboto-italic.svg#RobotoRegular") format("svg"); }

/*
* Style tweaks
* --------------------------------------------------
*/
html {
    position: relative;
    min-height: 100%;
    background: #fff;
}

body {
    background: #ffffff;
    margin: 0;
    overflow-x: hidden;
    font-weight: 300;
}

.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    position: initial !important;
}

.login-register {
    padding: 6% 0;
}

.guest {
    background-color: #f7f7f7;
	min-height: 637px;
}

.login-box {
    width: 400px;
    margin: 0 auto;
}

.fa-fw, .fa-li, .guest .guest-logo {
    text-align: center;
}

.guest .guest-logo {
    margin-bottom: 20px;
}

.img-logo {
    height: 40px;
    width: auto!important;
}

.guest .guest-logo img {
    width: 200px;
}

.card {
    margin-bottom: 30px;
}

.login-box {
    width: 400px;
    margin: 0 auto;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

html body .m-b-20 {
    margin-bottom: 20px;
    margin-left: 15px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Rubik,"Microsoft YaHei New","Microsoft Yahei","微软雅黑",宋体,SimSun,STXihei,"华文细黑",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #2c2b2e;
    font-weight: 400;
}

h3 {
    line-height: 30px;
    font-size: 21px;
}

html body .m-b-0 {
    margin-bottom: 0;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

.form-group {
    margin-bottom: 15px;
}

form label {
    font-weight: 400;
}

.form-horizontal label {
    margin-bottom: 0;
}

.form-control {
    color: #000;
    min-height: 38px;
    display: initial;
}

.form-horizontal input {
    background-repeat: no-repeat;
    background-position: center right .5625rem;
    background-size: 1.125rem 1.125rem;
}

.cell, .v-middle td, .v-middle th, .waves-effect {
    vertical-align: middle;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
    will-change: opacity,transform;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.btn {
    padding: 7px 12px;
    font-size: 14px;
    cursor: pointer;
}

.btn-lg {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
}

input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%;
}

.btn:not(:disabled):not(.disabled), .navbar-toggler:not(:disabled):not(.disabled), summary {
    cursor: pointer;
}

html body .m-b-0 {
    margin-bottom: 0;
}

.text-info {
    color: #009efb!important;
}

html body .m-l-5 {
    margin-left: 5px;
}

.card {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card {
    margin-bottom: 30px;
}

.login-box {
    width: 400px;
    margin: 0 auto;
}

.form-horizontal .form-group {
    margin-right: 15px;
    margin-left: 15px;
}

.float-left {
    float: left!important;
}

.checkbox {
    padding-left: 20px;
}

html body .p-t-0 {
    padding-top: 0;
}

.checkbox input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 0;
    outline: 0;
}

.checkbox label {
    display: block;
    padding-left: 5px;
    position: relative;
}

.checkbox label, .radio label {
    cursor: pointer;
}

.checkbox label::after, .checkbox label::before, .radio label::after, .radio label::before {
    margin-left: -20px;
    display: inline-block;
}

.checkbox label::before {
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    background-color: #fff;
    border-radius: 1px;
    border: 1px solid rgba(120,130,140,.13);
    content: "";
    height: 17px;
    left: 0;
    top: 3px;
    position: absolute;
    transition: .3s ease-in-out;
    width: 17px;
    outline: 0;
}

.checkbox-primary input[type=checkbox]:checked+label::before {
	background-color: #337ab7;
    border-color: #337ab7;
}

.float-right {
    float: right!important;
}

.checkbox label::after {
    color: #263238;
    font-size: 11px;
    height: 16px;
    left: 0;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 3px;
    width: 16px;
}

.checkbox-danger input[type=checkbox]:checked+label::after, .checkbox-info input[type=checkbox]:checked+label::after, .checkbox-inverse input[type=checkbox]:checked+label::after, .checkbox-primary input[type=checkbox]:checked+label::after, .checkbox-purple input[type=checkbox]:checked+label::after, .checkbox-red input[type=checkbox]:checked+label::after, .checkbox-success input[type=checkbox]:checked+label::after, .checkbox-warning input[type=checkbox]:checked+label::after {
    color: #fff;
}

.checkbox input[type=checkbox]:checked+label::after 
{
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    font-weight: 600;
    padding-left: 2px;
}

.form-horizontal .checkbox.p-t-0 {
    padding-top: 0;
}

.has-feedback .form-control {
    padding-right: 30.5px;
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 0;
    top: 22px;
}

.wp-social-login-provider-list {
    padding: 0 !important;
}

@media (max-width:410px) {
	.login-box 
	{
		width: 94%;
		margin: 0 auto;
	}
	
	.img-logo 
	{
		width: 96%!important;
	}
}