@font-face {
  font-family: 'RobotoRegular';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Roboto/RobotoRegular.eot");
  src: url("fonts/Roboto/RobotoRegular.eot") format("embedded-opentype"), url("fonts/Roboto/RobotoRegular.woff2") format("woff2"), url("fonts/Roboto/RobotoRegular.woff") format("woff"), url("fonts/Roboto/RobotoRegular.ttf") format("truetype"), url("fonts/Roboto/RobotoRegular.svg#RobotoRegular") format("svg"); }

@font-face {
  font-family: 'RobotoBold';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Roboto/RobotoBold.eot");
  src: url("fonts/Roboto/RobotoBold.eot") format("embedded-opentype"), url("fonts/Roboto/RobotoBold.woff2") format("woff2"), url("fonts/Roboto/RobotoBold.woff") format("woff"), url("fonts/Roboto/RobotoBold.ttf") format("truetype"), url("fonts/Roboto/RobotoBold.svg#RobotoRegular") format("svg"); }

@font-face {
  font-family: 'RobotoItalic';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Roboto/Roboto-italic.eot");
  src: url("fonts/Roboto/Roboto-italic.eot") format("embedded-opentype"), url("fonts/Roboto/Roboto-italic.woff2") format("woff2"), url("fonts/Roboto/Roboto-italic.woff") format("woff"), url("fonts/Roboto/Roboto-italic.ttf") format("truetype"), url("fonts/Roboto/Roboto-italic.svg#RobotoRegular") format("svg"); }

/*
* Style tweaks
* --------------------------------------------------
*/
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
	padding: 0;
	margin: 0;
}

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 15px;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: rgba(42, 52, 43, 0.5);
    border-color: rgba(0,0,0,.8);
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
	padding: 0 15px;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.navbar-nav>li>a 
{
	font-family: 'RobotoRegular', sans-serif; 
	font-size: 15px;
	padding: 10px;
	margin-top: 5px;
}

.navbar-nav>li>a 
{
	color: white;
}

.navbar-brand 
{
	padding: 9px 15px;
}

@media (min-width: 768px)
{
	.modal-dialog 
	{
		width: 60vw;
		margin: 30px auto;
	}
}

/*
 * Section Top
 */
.section-top 
{	
	/* The image used */
    background-image: url(img/bg_blk_1.png);

    /* Full height */
    min-height: 620px; 

    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
	
	position: relative;
	padding-top: 100px;
}

.navbar-toggle 
{
	border: 1px solid rgba(255, 255, 255, 1);
}

.navbar-toggle .icon-bar 
{
	background-color: white;
}

.dropdown-toggle 
{
	margin-top: 14px;
    font-size: 16px;
    font-family: 'RobotoRegular', sans-serif;
    background: transparent;
    border: none;
    color: white;
}

.dropdown-menu 
{
	min-width: inherit;
	font-family: 'RobotoRegular', sans-serif;
	left: -15px;
    top: 52px;
	background-color: rgba(42, 52, 43, 0.5);
}

.dropdown-menu>li>a
{
	color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover 
{
    text-decoration: none;
    background-color: transparent;
    text-decoration: underline;
}

.yellow-text
{
	width: 108px;
	font-family: 'RobotoBold', sans-serif;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    padding: 10px 9px;
    background-color: #ffd334;
    border-radius: 3px;
    color: #000;
	margin: 0;
}

.white-paper-wrap
{
	overflow: hidden;
}

.white-paper-wrap p
{
	margin-right: 10px;
}

.white-paper-wrap p, .white-paper-wrap a 
{
	float: left;
}

.white-paper-wrap a
{
	float: left;
    font-family: 'RobotoBold', sans-serif;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    padding: 10px 9px;
	color: white;
}

h1 
{
	font-family: 'RobotoBold', sans-serif; 
	color: #ffffff;
	font-size: 36px;
	padding: 0;
	line-height: 30px;
	margin: 0;
	margin-top: 46px;
}

.ico-desc 
{
	max-width: 410px;
	font-family: 'RobotoRegular', sans-serif; 
	color: #ffffff;
	font-size: 20px;
    line-height: 1.46;
	padding: 0;
	margin: 0;
	margin-top: 16px;
}

.recycle
{
	font-family: 'RobotoRegular', sans-serif; 
    font-size: 70px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.88;
	letter-spacing: normal;
	text-align: left;
	color: #ffd334;
	margin-top: 15px;
}

.recycle img
{
	max-width: 70px;
    max-height: 70px;
	width: 100%;
	height: 100%;
}

.welcome 
{
	margin-top: 20px;
    margin-bottom: 35px;
}

.btn-yellow
{
	font-family: 'RobotoRegular', sans-serif; 
	font-size: 22px;
    font-weight: 900;
    line-height: 1.08;
    padding: 12px 20px;
	background-color: transparent;
	border-radius: 3px;
	border: solid 2px #ffd334;
	color: #ffd334;
	margin-right: 20px;
	outline: 0;
	text-transform: uppercase;
}

.btn.btn-yellow:hover, .btn.btn-yellow:hover:focus
{
	background-color: #ffd334;
	color: #000;
}

.soc
{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	display: inline-block;
    text-align: center;
	color: black;
	background-color: white;
	border-radius: 50%;
}

.soc .fa 
{
	line-height: 30px;
}

a.soc:hover 
{
	color: black;
	background-color: #ffd334;
}

.ico-desc-bot
{
	max-width: 410px;
	font-family: 'RobotoRegular', sans-serif; 
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
	margin-top: 10px;
}

.right-side
{
	position: relative;
}

.circle 
{
	margin-top: 28px;
    margin-right: 70px;
    float: right;
}

.titles 
{
	position: absolute;
    top: 0px;
    right: 44px;
    width: 100%;
    height: 100%;
    margin-top: 28px;
}

.titles p 
{
	font-family: 'RobotoRegular', sans-serif; 
	color: #fff;
}

.titles .top-first, .titles .sixth-title 
{
	text-align: center; 
}

.titles .top-first 
{
	margin-top: 70px; 
}

.titles .first-title 
{
	width: 200px;
	margin: 0 auto;
	margin-bottom: 40px;
	height: 45px; 
}

.titles .second-title
{
	width: 190px;
	text-align: center;
	margin-left: -3px; 
}

.titles .third-title 
{
	width: 150px;
	text-align: center;
	margin-right: 26px; 
}

.titles .fourth-title 
{
	width: 150px;
	margin-left: 17px; 
}

.titles .fifth-title 
{
	width: 135px;
	margin-right: 32px; 
}

.titles .sixth-title 
{
	width: 200px;
	margin: 0 auto; 
}

.titles .third-title, .titles .fifth-title 
{
	float: right; 
}

.titles .fourth-title, .titles .fifth-title 
{
	margin-top: 125px; 
}

.titles .second-title, .titles .third-title, .titles .fourth-title, .titles .fifth-title 
{
	display: inline-block; 
}

.titles .bottom-second 
{
	position: absolute;
	bottom: -16px;
	left: 0px;
	width: 100%; 
}

.titles .top-first, .titles .second-title, .titles .third-title, .titles .fourth-title, .titles .fifth-title, .titles .sixth-title 
{
	font-size: 11px;
	text-align: center; 
}

.details-sm 
{
	margin-top: 30px;
	text-align: center;
	margin-bottom: 30px;
}

.details-sm  p 
{
	font-family: 'RobotoRegular', sans-serif;
    color: #fff;
}

.details-sm img 
{
	max-width: 60%; 
}

.details-sm img.bullet 
{
	height: 30px;
	margin-bottom: 10px; 
}

@media (min-width:992px) and (max-width:1199px) {
    .navbar-brand {
        width: 85px;
		overflow: hidden;
    }
	
	.container>.navbar-collapse
	{
		float: right;
	}
}

@media (min-width:1200px) {
    .pull-right-lg {
        float: right;
    }
	
	.navbar-brand {
        width: initial;
		overflow: initial;
    }
}

@media (min-width:769px) and (max-width:991px) {
    .navbar-brand {
        width: 85px;
		overflow: hidden;
    }
	
	.container>.navbar-collapse
	{
		float: right;
	}
	
	.navbar-nav>li>a 
	{
		font-size: 16px;
		padding: 15px 5px;
	}
}

@media (max-width:768px) {
	
	.section-top
	{
		padding-top: 70px;
	}
	
	.navbar.navbar-fixed-top, .navbar.navbar-fixed-top.fixed-theme {
		background-color: rgb(42, 52, 43);
		border-color: rgba(0,0,0,.8);
		box-shadow: 0 0 5px rgba(0,0,0,.8);
	}
	
	.container>.navbar-collapse
	{
		margin: 0px -10px;
	}
	
    .dropdown {
		padding: 0 11px;
    }
	
	.navbar-container {
		padding: 0 15px;
	}
	
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus {
		color: #262626;
		text-decoration: none;
		background-color: #f5f5f5;
	}
	
	.dropdown-toggle 
	{
		width: 100%;
		text-align: left;
	}
	
	.navbar-brand
	{
		width: 248px;
	}
	
	.navbar-brand>img
	{
		width: 100%;
	}
	
	.yellow-text
	{
		font-size: 20px;
		line-height: 16px;
		margin: 0;
	}
	
	h1 
	{
		text-align: center;
		margin-top: 26px;
		font-size: 26px;
	}
	
	.container>.navbar-collapse
	{
		float: none;
		overflow: hidden;
		max-height: 470px;
	}
	
	.navbar-nav>li>a 
	{
		font-size: 16px;
		padding: 15px 5px;
	}
	
	#scrollup
	{
		top: initial;
		left: 20px;
		bottom: 14px !important;
		width: 65px;
		height: 65px;
		background-size: cover;
	}
	
	.ico-desc, .ico-desc-bot
	{
		text-align: center;
		font-size: 17px;
	}
	
	.recycle, .welcome
	{
		text-align: center;
	}
	
	.welcome
	{
		margin-bottom: 0;
	}
	
	.btn
	{
		min-width: 250px !important;
		max-width: 250px;
	}
	
	.btn-yellow
	{
		margin: 0 auto;
		margin-bottom: 20px;
		display: block;
	}
	
	.white-paper-wrap
	{
		overflow: hidden;
		display: flex;
		justify-content: center;
	}
	
	.ico-desc, .ico-desc-bot
	{
		max-width: inherit;
	}
}
/*
 * End Section Top
 */
 
/*
 * Section Timer
 */
.section-timer
{
	/* The image used */
    background-image: url(img/bg_blk_2.png);

    /* Full height */
    min-height: 180px; 

    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
	
	position: relative;
}

h3 
{
	font-family: 'RobotoRegular', sans-serif; 
	font-size: 20px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.75;
	letter-spacing: normal;
	text-align: center;
	margin: 10px 0;
	color: #181b16;
	text-transform: uppercase;
}

.counter-wrap > div {
    position: relative;
    padding: 5px 0px;
    height: 100px;
    width: 120px;
    border-radius: 7px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px; }
  .counter-wrap > div:last-of-type {
    margin-right: 0px; }
  .counter-wrap > div:after {
    content: "";
    font-size: 40px;
    color: #181b16;
    position: absolute;
    right: -7px;
    top: 0px;
    width: 2px;
    font-weight: bold;
    height: 100%;
    line-height: 97px; }
  .counter-wrap > div:last-of-type:after {
    content: ""; }
  .counter-wrap {
    min-width: 300px;
    text-align: center; }
    .counter-wrap .counter-number {
      font-family: 'Roboto Black', sans-serif;
      font-size: 60px;
      font-weight: 900;
      line-height: 1.14;
      color: #ffffff; }
    .counter-wrap .counter-text {
      display: none; }
    .counter-wrap .counter-number, .counter-wrap .counter-text {
      color: #ffffff; }

.dark-bg 
{
    background-color: #181b16;
	overflow: hidden;
}

@media (max-width:768px) 
{
	.section-timer {
		background-image: initial;
		background-color: #ffd40b;
		padding-bottom: 25px;
	}
	
	.counter-wrap > div 
	{
		position: relative;
		padding: 5px 0px;
		height: 100px;
		width: 120px;
		border-radius: 7px;
		display: block;
		margin: 0 auto;
		margin-top: 10px;
		vertical-align: top;
	}
	
	.counter-wrap > div:last-of-type 
	{
		margin-right: auto;
	}
	
	.counter-wrap > div:after 
	{
		content: "";
	}
}

/*
 * End Section Timer
 */
 
 /*
 * Section Progress
 */
.section-progress
{
	background-color: #181b16;
	min-height: 650px; 
}

.left-prog, .right-prog 
{
	position: relative;
	padding-top: 30px;
}

.right-prog 
{
	min-height: 630px;
	background-image: url(img/ico.png);
    background-repeat: no-repeat;
    background-position: right center;
	margin-bottom: 30px;
}

.circle-chart__circle 
{
	animation: circle-chart-fill 2s reverse; 
	transform: rotate(90deg); 
	transform-origin: center; 
}

@keyframes circle-chart-fill 
{
	to { stroke-dasharray: 0 100; }
}

.progress 
{
	text-align: center;
	position: relative;
	background: initial;
	height: initial;
}

.left-prog svg 
{
	position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.top-title, .bottom-title 
{
	text-align: center;
	color: #fff;
	font-family: 'RobotoRegular', sans-serif; 
	font-size: 23px;
}

.top-title .first, .bottom-title .first
{
	font-family: 'RobotoBold', sans-serif; 
	margin-bottom: 0;
}

.top-title .second, .bottom-title .second
{
	margin-bottom: 0;
	font-size: 21px;
}

.curently-recived 
{
	font-family: 'RobotoRegular', sans-serif; 
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 24px;
}

.curently-recived span 
{
	font-family: 'RobotoBold', sans-serif;
    margin: 0;
    font-size: 25px;
    color: #ffd334;
}

.curently-recived-value 
{
	font-family: 'RobotoBold', sans-serif; 
	margin: 0;
	font-size: 20px;
	color: #ffd334;
}

.right-prog p, .right-prog label 
{
	font-family: 'RobotoRegular', sans-serif; 
	margin: 7px 0;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	display: block;
}

.right-prog form p
{
	margin: 0;
    font-size: 24px;
}

.right-prog p.wallet-desc-title
{
	margin-top: 20px;
}

.btn-green 
{
	background-color: #6fb600;
	margin-right: 15px;
	display: inline-block;
}

.right-prog p.wallet
{
	margin-top: 0;
}

.right-prog .wallet-value
{
	display: block;
    width: 100%;
    background-color: transparent;
    border: initial;
    color: #ffd334;
    font-family: 'RobotoBold', sans-serif;
	font-size: 20px;
	color: #ffd334;
	margin: 7px 0;
	margin-bottom: 2px;
	outline: 0;
	text-align: left;
}

.right-prog p.wallet-min
{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 0px;
}

#calc 
{
	margin-right: 15px;
}

.must_pay
{
	visibility: hidden;
}

.right-prog p.wallet-desc, .right-prog a.wallet-desc-link
{
	max-width: 410px;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	margin-top: 0;
}

.right-prog a.wallet-desc-link
{
	margin-top: 15px;
	cursor: pointer;
	color: #fff;
	text-decoration: underline;
}

.right-prog a.wallet-desc-link:hover
{
	text-decoration: initial;
}

.divided-blocks 
{
    margin-top: 26px;
    margin-bottom: 26px;
	overflow: hidden;
	text-align: center;
}

.divided-blocks .opts .yellow-bg 
{
	width: 80%;
    text-align: center;
}

.clear-pads 
{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.border-right 
{
    border-right: 1px solid #ffd334;
}

.right-prog p.font20 
{
	font-size: 16px;
	margin-bottom: 15px;
}

.right-prog p.font20 .bold 
{
	font-weight: bold;
}

.opts
{
	font-family: 'RobotoRegular', sans-serif; 
	font-size: 15px;
	color: #fff;
}

.opts span 
{
	margin-right: 15px;
}

.yellow-bg 
{
	font-family: 'RobotoBold', sans-serif; 
	background-color: #ffd334;
    border-radius: 3px;
    display: inline-block;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 18px;
	font-size: 18px;
	color: #000;
}

.right-prog p.token 
{
	height: 25px;
	background-image: url(img/token.png);
    background-repeat: no-repeat;
    background-position: left center;
	line-height: 25px;
	font-size: 20px;
	color: #ffd334;
	padding-left: 35px;
	margin-bottom: 0;
}

.right-prog p.token span 
{
	font-weight: bold;
}

.right-prog p.eth-price
{
	margin-top: 10px;
	font-size: 15px;
	font-weight: bold;
}

.eth-calc-price
{
	font-family: 'RobotoRegular', sans-serif;
    margin: 7px 0;
    font-size: 17px;
    color: #fff;
    font-weight: normal;
    display: block;
    text-align: center;
    -webkit-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    transform: translateY(2rem);
}

.right-prog .token-wrap
{
	overflow: hidden;
}

.right-prog .token-wrap p
{
	float: left;
	line-height: 25px;
}

.right-prog p.token-title
{
	margin-right: 10px;
}

.mobile-wrap
{
	display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.team-member-block .hide
{
	display: block !important;
}

.team-member-block .show
{
	display: block !important;
}

@media (max-width:1200px) 
{
	.circle 
	{
		margin-top: 28px;
		margin-right: 0;
		float: right;
		width: 100%;
	}
	
	.titles 
	{
		position: absolute;
		top: 26px;
		right: 0;
		width: 100%;
		height: 100%;
		margin-top: 28px;
	}
	
	.titles .top-first 
	{
		margin-top: 35px;
	}
	
	.titles .second-title
	{
		margin-left: -34px;
		margin-top: -8px;
	}
	
	.titles .third-title
	{
		margin-top: -8px;
		margin-right: -7px;
	}
	
	.titles .fourth-title
	{
		margin-top: 110px;
		margin-left: -11px;
	}
	
	.titles .fifth-title
	{
		margin-top: 110px;
		margin-right: 0px;
	}
	
	.titles .sixth-title
	{
		margin-top: -60px;
	}
}

@media (min-width:1032px) and (max-width:1200px) 
{
	img.progress-bg 
	{
		width: 95%;
	}
	
	.left-prog svg 
	{
		width: 67%;
		top: 4%;
	}
	
	#calc
	{
		width: 176px;
		margin-right: 7px;
	}
	
	.btn-green
	{
		margin-right: 7px;
	}
}

@media (min-width:992px) and (max-width:1032px) 
{
	img.progress-bg 
	{
		width: 93%;
	}
	
	.left-prog svg 
	{
		width: 66%;
		top: 3%;
	}
	
	#calc
	{
		width: 176px;
		margin-right: 7px;
	}
	
	.btn-green
	{
		margin-right: 7px;
	}
}

@media (max-width:992px) 
{
	.right-side .hidden-xs
	{
		display: none;
	}
	
	.right-side .details-sm
	{
		display: block !important;
		margin-top: 0;
	}
	
	.btn.btn-yellow
	{
		width: 100%;
		margin-bottom: 15px;
	}
	
	.btn.btn-club
	{
		width: 100%;
	}
	
	.navbar-nav>li>a 
	{
		font-size: 13px;
		padding: 15px 5px;
		margin-top: 0;
	}
	
	img.progress-bg 
	{
		width: 100%;
	}
	
	.left-prog svg 
	{
		width: 72%;
		top: 3%;
	}
	
	#calc
	{
		width: 176px;
		margin-right: 7px;
		margin-bottom: 15px;
	}
	
	.btn-green
	{
		margin-right: 7px;
	}
	
	.border-right
	{
		border-right: none;
	}
	
	.divided-blocks
	{
		margin-bottom: 0px;
	}
}

@media (max-width:768px) 
{
	.border-right 
	{
		border-right: none;
	}
	
	.recycle img.visible-xs
	{
		display: inline-block!important;
	}
	
	.progress
	{
		margin: 0 auto;
	}
	
	.mobile-inline
	{
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;	
	}
	
	.right-prog .token-wrap 
	{
		overflow: hidden;
		display: flex;
		justify-content: center;
	}
	
	.mobile-wrap
	{
		display: flex;
		justify-content: left;
	}
	
	img.progress-bg 
	{
		width: 93%;
	}
	
	.left-prog svg 
	{
		width: 66%;
		top: 3%;
	}
	
	#calc
	{
		width: 100%;
	}
	
	.mobile-wrap
	{
		justify-content: center;
	}
	
	.mobile-align
	{
		text-align: center;
	}
	
	.right-prog .wallet-value
	{
		text-align: center;
	}
	
	.club-wrap img 
	{
		display: block;
		margin: 0 auto;
	}
	
	.club-buttons .btn-yellow
	{
		display: inline-block;
	}
	
	.navbar-nav>li>a 
	{
		margin-top: 0;
	}
}

@media (max-width:508px) {
	
	.progress 
	{
		margin: 0 auto;
		width: 100% !important;
		margin-bottom: 12px;
	}
	
	.left-prog svg
	{
		width: 67% !important;
	}
	
	.right-prog
	{
		padding-top: 5px;
	}
	
	.right-prog p, .right-prog label
	{
		font-size: 17px;
		text-align: center;
	}
	
	.mobile-wrap 
	{
		display: flex;
		flex-flow: column;
		align-items: center;
	}
	
	.right-prog form p
	{
		margin-top: 15px;
	}
	
	.right-prog .btn 
	{
		max-width: initial;
		width: 100%;
		margin: 0;
	}
	
	.mobile-align 
	{
		display: flex;
		flex-flow: column;
		align-items: center;
	}
	
	.right-prog .mobile-align .btn:nth-of-type(2)
	{
		margin-bottom: 15px;
		display: none;
	}	
	
	.right-prog p, .right-prog label,
	.right-prog p.wallet-desc, .right-prog a.wallet-desc-link
	{
		font-size: 17px;
		text-align: justify;
	}
	
	.border-right 
	{
		border-right: none;
	}
	
	.right-prog p.font20 
	{
		font-size: 16px;
		margin-bottom: 10px;
		text-align: center;
	}
	
	.divided-blocks 
	{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.right-prog .token-wrap 
	{
		overflow: hidden;
		display: flex;
		flex-flow: column;
		align-items: center;
	}
	
	.right-prog p.wallet-yellow
	{
		width: 100%;
		height: 51px;
		overflow-wrap: break-word;
		font-family: 'RobotoBold', sans-serif;
		font-size: 20px;
		color: #ffd333;
		margin-top: 15px;
	}
	
	.wallet-value.hidden-xs 
	{
		display: none!important;
		height: 1px;
		margin: 0 !important;
	}
	
	.text-block, .post-wrap p, .club-text p
	{
		text-align: justify !important;
	}
	
	.col-xs-12.full-width-xs
	{
		margin-bottom: 20px;
	}
	
	.club-buttons .btn-yellow 
	{
		margin-bottom: 10px !important;
		margin-left: auto !important;
		margin-top: 10px !important;
	}
	
	#team h3, #news h3 
	{
		margin-bottom: 30px !important;
	}
	
	#team .team-member p, #news .team-member p
	{
		text-align: justify !important;
	}
	
	footer .logo-wrap
	{
		display: block !important;
		margin: 0 auto !important;
	}
	
	footer .copyright 
	{
		text-align: center !important;
	}
	
	footer .margin-t-65 
	{
		margin-top: 15px !important;
		margin-bottom: 25px !important;
	}
	
	footer .margin-t-65 p 
	{
		text-align: center !important;
	}
	
	.subscribe-description img 
	{
		margin: 0 auto !important;
	}
	
	.mail-img
	{
		text-align: center !important;
	}
	
	.section-subscribe input[type="text"], .section-subscribe input[type="email"], 
	.section-subscribe input[type="button"], .section-subscribe input[type="submit"], #contact input[type="submit"]
	{
		width: 100% !important;
	}
	
	#contact .contactinfo
	{
		padding-left: 10%;
		margin-top: 0 !important;
		padding: 0 !important;
	}
	
	#contact .contactinfo .soc-icons
	{
		text-align: center !important;
	}
	
	.recycle img.visible-xs
	{
		display: inline-block!important;
	}
	
	.dark-bg:after
	{
		bottom: initial !important;
		top: 100% !important;
		border-bottom: initial !important;
		border-top: 8px solid #181b16 !important;
	}
	
	.right-prog .wallet-value
	{
		font-size: 14px;
	}
	
	.right-prog .wallet-value
	{
		text-align: center;
	}
	
	.club-wrap img 
	{
		display: block;
		margin: 0 auto;
	}
	
	.team-member-block .hide
	{
		display: none !important;
	}
	
	.team-member-block .show
	{
		display: none !important;
	}
	
	#team .team-member
	{
		height: initial !important;
	}
	
	.border-club:after
	{
		width: 0;
	}
	
	.navbar-nav>li>a 
	{
		margin-top: 0;
	}
}

/*
 * End Section Progress
 */
 
 /*
 * Section Info
 */
.section-info
{
	background-color: #f0f2f3;
	min-height: 574px; 
}

/*
 * End Section Info
 */
 
 /*
 * Section Problem
 */
.section-problem
{
	background-color: #ffffff;
	min-height: auto; 
	padding: 40px 0;
}

.padding-t-10
{
	padding-top: 10px;
}

h3.title 
{
	position: relative;
    font-family: 'RobotoBold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.39;
    text-align: center;
    color: #38414b;
	text-transform: initial;
	margin: 20px 0;
}

h3.title:after 
{
	content: '';
    width: 45px;
    height: 2px;
    background-color: #ffd333;
    border: solid 1px #ffd333;
    position: absolute;
    left: 45%;
    left: calc( 50% - 22.5px);
    bottom: -8px;
}

.text-block 
{
	font-family: 'RobotoRegular', sans-serif;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    color: #000000;
}

.margin-t-20 
{
	margin-top: 20px;
}

.city-image 
{
    width: 100%;
    height: 150px;
    margin-bottom: 12px;
    background-image: url(img/city.png);
    background-repeat: no-repeat;
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dark-bg:after 
{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #181b16;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.dark-bg h4.yellow 
{
	text-align: center;
	padding: 0 5px;
	font-family: 'RobotoBold', sans-serif;
    font-size: 18px;
	color: #ffd333;
}

.dark-bg .white 
{
	padding: 0 10px;
	font-family: 'RobotoRegular', sans-serif;
    font-size: 18px;
	color: #fff;
	text-align: center;
}

.dark-bg.triangle-top
{
	cursor: pointer;
}

.posts-wrap
{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.border-bottom
{
    border-bottom: 1px solid #e6e9eb;
}

.posts-wrap .post-wrap 
{
    margin-bottom: 25px;
}

.posts-wrap .post-wrap .description-post-img 
{
    width: 54px;
    height: 54px;
}

.posts-wrap h4 
{
	font-family: 'RobotoBold', sans-serif;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.25;
	color: #38414b;
	margin-top: 20px;
    margin-bottom: 10px;
}

.posts-desc 
{
	font-family: 'RobotoRegular', sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.88;
	color: #000;
}

.margin-t-40
{
	margin-top: 40px;
}

@media (min-width: 768px)
{
	.posts-wrap .post-wrap 
	{
		min-height: 340px;
	}
}

/*
 * End Section Problem
 */
 
 /*
 * Section Club
 */
.section-club 
{
	/* The image used */
    background-image: url(img/bg_blk_3.png);

    /* Full height */
    min-height: 550px; 

    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
	
	position: relative;
}

h3.title.white
{
	color: #fff;
}

.club-wrap
{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.center
{
	text-align: center;
	margin: 25px 0; 
}

.club-wrap img 
{
	width: 141px;
	height: 141px;
}

.border-club
{
	position: relative;
}

.border-club:after 
{
	content:""; 
	background: #2d3341; 
	position: absolute; 
	bottom: 18%;
    right: 0;
    height: 70%; 
	width: 1px;
}

.club-wp-desc 
{
	margin-top: 25px;
    padding: 10px 25px;
    font-family: 'RobotoBold', sans-serif;
    font-size: 20px;
    color: #38414b;
    border-radius: 3px;
    background-color: #e6e9eb;
    display: inline-block;
}

.club-text 
{
	font-family: 'RobotoRegular', sans-serif;
    font-size: 16px;
    color: #fff;
	line-height: 1.88;
	text-align: center;
	margin-top: 25px; 
	margin-bottom: 25px; 
}

.btn-club
{
	font-family: 'RobotoBold', sans-serif; 
	font-size: 22px;
    font-weight: 900;
    line-height: 1.08;
    padding: 12px 20px;
	background-color: transparent;
	border-radius: 3px;
	border: solid 2px #6fb600;
	color: #6fb600;
	margin: 0 auto;
	outline: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.club-buttons .btn-yellow
{
	margin-bottom: 10px;
    margin-left: 25px;
}

.btn.btn-club:hover, .btn.btn-club:hover:focus
{
	background-color: #6fb600;
	color: #000;
}
 
  /*
 * End Section Club
 */
 
 
  /*
 * Section Club Top
 */
.section-club-top 
{
	/* The image used */
    background-image: url(img/club_bg.png);

    /* Full height */
    min-height: 384px; 

    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
	
	position: relative;
}

.section-news
{
	background-image: url(img/news_bg.png);

    /* Full height */
    min-height: 358px; 
}
 
.section-club-top h1 
{
	font-family: 'RobotoBold', sans-serif; 
	font-size: 36px;
	margin: 0;
	margin-top: 160px;
	color: #ffd334;
}

.section-club-top p 
{
	font-family: 'RobotoRegular', sans-serif; 
	font-size: 20px;
	line-height: 2;
	margin: 0;
	margin-top: 25px;
	color: #fff;
}
 
 /*
 * End Section Club Top
 */ 
 
 
 /*
 * Section Content
 */
.section-content
{
	min-height: 780px;
    background-color: #101319;
    position: relative;
    padding: 70px 0;
}

.section-content.calc-wrap 
{
	padding-top: 20px;
}

.club-item 
{
	margin-bottom: 45px;
	display: flex;
}

.club-left 
{
	width: 170px;
    padding-right: 45px;
    float: left;
    display: inline-table;
}

.club-right 
{
	float: left;
	text-align: left;
}
 
.section-content img 
{
	width: 100px;
	margin-bottom: 20px;
	margin-left: 10px;
}	

.club-item p 
{
	font-family: 'RobotoBold', sans-serif; 
	font-size: 16px;
	line-height: 1.75;
	margin: 0;
	color: #fff;
}

.club-item p.bronze
{
	color: #d48f6e;
	padding-left: 14px;
}

.club-item p.silver
{
	color: #a9b7c4;
	padding-left: 12px;
}

.club-item p.gold
{
	color: #fdc215;
	padding-left: 7px;
}

.club-item p.premium
{
	color: #eeeff0;
	padding-left: 4px;
}

.bottom-b-silver
{
	border-bottom: 1px solid #1c212b;
	margin-bottom: 40px;
}

.club-right h3 
{
	font-family: 'RobotoBold', sans-serif; 
	font-size: 30px;
	line-height: 1;
	margin: 0;
	color: #fff;
	text-align: left;
	text-transform: initial;
	margin-bottom: 20px;
}

.club-right p
{
	max-width: 385px;
	font-family: 'RobotoRegular', sans-serif; 
	font-size: 18px;
	line-height: 1.67;
	margin: 0;
	color: #fff;
}

.club-item .club-right p.yellow 
{
	display: inline-block;
	font-family: 'RobotoBold', sans-serif; 
	font-size: 15px;
	line-height: 1.67;
	color: #210e00;
	padding: 5px 14px;
	background-color: #ffd334;
	border-radius: 2px;
	text-transform: uppercase;
	margin-top: 15px;
}

.bg-blue-gray 
{
	margin-top: 25px;
	background-color: #1c212b;
}

.bg-blue-gray p 
{
	font-family: 'RobotoRegular', sans-serif; 
	font-size: 18px;
	line-height: 1.67;
	text-align: center;
	color: #ffffff;
	padding: 15px 40px;
}
 
 /*
 * End Section Content
 */ 
 
 /*
 * Section Promo
 */
.section-promo
{
	min-height: 120px;
	background-color: #ffd334;
	
	position: relative;
	display: flex;
    align-items: center;
}

.wrap-promo
{
	display: flex;
    justify-content: center;
    align-items: center;
}
 
.wrap-promo p 
{
	font-family: 'RobotoBold', sans-serif;
    font-size: 30px;
    line-height: 1.33;
    margin: 0;
    margin-right: 40px;
    color: #210e00;
}

.wrap-promo .btn-yellow
{
	font-family: 'RobotoBold', sans-serif;
    background-color: #ffd334;
    font-size: 24px;
    border-radius: 3px;
    border: solid 1px #210e00;
    color: #210e00;
}

.wrap-promo .btn-yellow:hover
{
    background-color: #210e00;
    border: solid 1px #210e00;
    color: #ffd334;
}

@media (max-width:768px) {
	
	.wrap-promo {
		flex-flow: column;
	}
	
	.wrap-promo p
	{
		text-align: center;
		margin: 10px 0;
	}
	
	.club-item {
		flex-flow: column;
		align-items: center;
	}
	
	.club-left {
		width: initial;
		padding-right: 0;
		float: left;
		display: inline-table;
	}
	
	.club-right h3, .club-right 
	{
		text-align: center;
	}
}
 
 /*
 * End Section Promo
 */ 
 
  /*
 * Section Footer
 */
.section-footer
{
	min-height: 228px;
	background-color: #110f0e;
	
	position: relative;
}
 
.margin-t-40
{
	margin-top: 40px;
}

.margin-t-65
{
	margin-top: 65px;
}

.adress p 
{
	font-family: 'RobotoRegular', sans-serif;
    font-size: 14px;
    color: #bbc4cd;
	line-height: 1.43;
	margin: 0;
	text-align: right;
}

.logo-wrap 
{
	position: relative;
    padding-bottom: 15px;
}
 
.section-footer .logo-wrap:after 
{
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 16px;
    height: 1px;
    background-color: #ffffff;
}

.section-footer ul 
{
    list-style:none;
    font-size:0;
    text-align:start;
    padding:0;
    margin:0;
}

.section-footer li 
{
    float: left;
    margin: 19px 0 15px 0;
    margin-right: 20px;
}

.section-footer li a 
{
    display:inline-block;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 14px;
    color: #bbc4cd;
	line-height: 2.86;
	text-decoration: underline;
}

.section-footer li a:hover 
{
	text-decoration: initial;
}

.section-footer ul:after 
{
    content:'';
    display:inline-block;
    width:100%;
}

.copyright 
{
	font-family: 'RobotoRegular', sans-serif;
    font-size: 14px;
    color: #bbc4cd;
	line-height: 2.86;
	margin: 0;
	text-align: left;
}

 /*
 * End Section Footer
 */ 
 
#project .text-block.no-margin-padding 
{
	padding-top: 0;
	margin-top: 0;
}	
 
.margin-0 
{
	margin: 0;
}	
 
.section-post
{
	background-color: #f5f5f5;
}	
 
h1.entry-title 
{
	margin: 0;
    margin-bottom: 10px;
	line-height: 50px;
}
 
.entry-content p 
{
	font-family: 'RobotoRegular', sans-serif;
	margin: 0;
    color: #000;
	line-height: 2em;
}	
 
.section-content.section-post
{
	min-height: 380px;
}	
 
#news .team-member
{
	max-height: 380px;
} 

.section-content.section-post img
{
	width: 250px;
    height: auto;
	max-height: 200px;
}

.img-thumbnail
{
	background-color: #ffd333;
	border: initial;
}
 
 
 
 .section-subscribe {
  padding-top: 30px;
  padding-bottom: 30px; }
  .section-subscribe .subscribe-description .title {
    float: left;
    width: 100%; }
	
  .section-subscribe.section-subscribe-news {
	background-color: #e6e9eb;
  }
	
 .section-subscribe input[type="text"], .section-subscribe  input[type="email"] {
  background-color: #ffffff;
  border: solid 1px #bbc4cd;
  height: 51px;
  width: 400px;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #bbc4cd;
  padding-left: 20px; }

 .section-subscribe input[type="button"] {
  width: 211px;
  height: 60px;
  background-color: white;
  color: #6fb600;
  border: solid 1px #6fb600;
  font-family: 'RobotoBold';
  font-size: 24px; }
  
  @media (min-width: 992px){
.section-subscribe .subscribe-description {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
  }
  
.subscribe-description  h1 
{
	color: #000;
	margin-top: 20px;
    margin-bottom: 10px;
}

@media (min-width: 508px) and (max-width: 768px)
{
	.section-subscribe .subscription-container {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		align-items: center;
	}
}

@media (max-width: 768px)
{
	.section-subscribe input[type="text"], .section-subscribe input[type="email"]
	{
		width: 100%;
	}
	
	.section-content.section-post img, .post-format
	{
		width: 100%;
	}
	
	article.small-post-box
	{
		height: initial !important;
	}
	
	.post-img img {
		padding-right: 4px !important;
	}
	
	.readmore {
		width: 100%;
		margin-top: 10px;
	}
	
	.readmore a {
		display: block;
	}
	
	.post-excerpt, .post-data header
	{
		text-align: center;
		padding-right: 0;
	}
	
	.post-title a
	{
		margin-top: 10px;
		font-size: 20px;
	}
	
	.entry-content p
	{
		line-height: inherit;
		font-size: 15px;
	}
	
	.wrap-promo .btn-yellow 
	{
		max-width: initial;
		width: initial;
	}
}

#roadmap {
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  background: url(resources/images/roadmap-bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  overflow: hidden;
  
  }
  #roadmap h4 {
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal; }
  #roadmap .right-block {
    margin-top: 113px; }

.roadmap-block {
  position: relative; }

.roadmap-item {
  position: relative;
  margin: 0 auto;
  min-height: 37px;
  margin-bottom: 25px; }
  .roadmap-item p {
    margin-bottom: 0px;
    text-align: left; }

.li-img-wrap {
  display: inline-block;
  float: left;
  min-width: 70px; }
  .li-img-wrap img {
    float: left;
    max-width: 37px;
    max-height: 37px; }

.li-txt-wrap {
  display: inline-block; }
  
@media (min-width: 768px){
#roadmap .left-block:before {
    content: '';
    width: 3px;
    height: calc( 100% - 80px);
    background-color: #ffd333;
    position: absolute;
    top: 48px;
    right: 0px;
}
}

#roadmap .title {
    position: relative;
    font-family: 'RobotoBold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.39;
    text-align: center;
    color: #fff;
    margin-bottom: 70px;
}

#roadmap .title:after {
    content: '';
    width: 45px;
    height: 2px;
    background-color: #ffd333;
    border: solid 1px #ffd333;
    position: absolute;
    left: 45%;
    left: calc( 50% - 22.5px);
    bottom: -8px;
}

@media (min-width: 768px) {
  .menu-container ul.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; }
  #progress .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
  .rounded .document {
    margin-right: 30px; }
  .right-md {
    float: right; }
  #roadmap .left-block:before {
    content: '';
    width: 3px;
    height: calc( 100% - 80px);
    background-color: #ffd333;
    position: absolute;
    top: 48px;
    right: 0px; }
  #roadmap .left-block:after {
    content: '';
    width: 23px;
    height: 23px;
    background-color: yellow;
    border: 7px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: -10px; }
  #roadmap .first:before {
    content: '';
    width: 9px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    right: -18px; }
  #roadmap .second:before {
    content: '';
    width: 9px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -21px; }
  #roadmap .third:before {
    content: '';
    width: 9px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -18px; }
  #roadmap .right-block .roadmap-item, #roadmap .right-block .yellow {
    padding-left: 15%; }
  #roadmap .bottom-block {
    text-align: center; }
  #roadmap .fourth {
    margin-top: 40px; }
    #roadmap .fourth .roadmap-item {
      width: 360px;
      margin: 0 auto;
      margin-bottom: 25px; }
  #roadmap .first {
    margin-bottom: 90px; }
  #roadmap .third .yellow {
    padding-left: 70px; } }

@media (min-width: 992px) {
  #roadmap .first {
    margin-bottom: 160px; }
  .dashboard-template .rounded {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; } }
	

	
/* contacts */
#contact .form 
{
	margin: 20px 0;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea 
{
    background-color: #ffffff;
    border: solid 1px #bbc4cd;
    height: 51px;
    width: 100%;
    font-size: 18px;
    line-height: 1;
    text-align: left;
    color: #000;
    padding-left: 20px;
	margin-top: 6px;
}

#contact textarea  
{
	height: 125px;
}

#contact input[type="submit"] {
    width: 211px;
    height: 60px;
    background-color: white;
    color: #6fb600;
    border: solid 1px #6fb600;
    font-family: 'RobotoBold';
    font-size: 24px;
}

#contact input[type="submit"]:hover, #contact input[type="submit"]:hover:focus, 
.section-subscribe input[type="button"]:hover, .section-subscribe input[type="button"]:hover:focus
{
    background-color: #6fb600;
    color: #000;
}

#contact label 
{
	display: initial;
}

.contactinfo {
    float: right; }
	
#contact .contactinfo {
    padding-left: 10%;
	margin-top: 55px;
	}
    #contact .contactinfo .soc-icons {
      margin-top: 35px; }
  #contact .phone {
    border-bottom: 1px solid #e6e9eb; }
	
#contact .contactinfo p {
  font-size: 18px;
  line-height: 1.4;
  color: #38414b; }
  
 .address-icon, .phone-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 18px; }

.address, .phone, .ap-mail {
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #38414b;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; }
  .address p, .phone p, .ap-mail p {
    margin-bottom: 0px; }
	
.soc2
{
	width: 67px;
	height: 67px;
	background-color: #ffd333;
	color: #000;
	line-height: 67px;
	font-size: 30px;
}

a.soc.soc2:hover 
{
	background-color: #e0b92a;
}

	
/* partners */	
#partners {
  padding-bottom: 60px; }
  #partners .bx-wrapper {
    max-width: 100% !important;
    height: 125px;
    margin-bottom: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent; }
  #partners .bx-wrapper, #partners .bx-viewport {
    height: 125px !important; }
  #partners .partners-wrap {
    height: 100%; }
#partners .partners-wrap .partner 
{
	height: 100%; 
	opacity: 0.65;
}

#partners .partners-wrap .partner:hover 
{
	height: 100%; 
	opacity: 1;
	cursor: pointer;
}
	  
.bx-wrapper .bx-controls-direction a {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; }

.bx-wrapper:hover .bx-controls-direction a {
  opacity: 1; }
  
 .bx-controls 
 {
	 display: none;
 }
 
 /* team */
 
 #team {
  padding-bottom: 50px; }
#team .team-member, #news .team-member {
	height: 430px;
	text-align: center;
	margin-bottom: 30px;
	display: block;
	overflow: hidden; 
}
#team .team-member img {
	border: 3px solid #ffd333;
}
#team .team-member .team-photo {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 13px; }
#team .team-member h4, #news .team-member a {
	margin-bottom: 18px;
    font-family: 'RobotoBold', sans-serif;
    font-size: 26px;
    margin: 14px 0 20px;
 }
#team .team-member p, #news .team-member p {
  font-family: 'RobotoRegular', sans-serif;
  font-size: 14px;
  line-height: 1.56;
  color: #000;
  text-align: center; }
  
 #team h3, #news h3
 {
	margin-bottom: 60px;
 }
 
 #team .more-btn .more {
    display: inline; }
  #team .more-btn .less {
    display: none; }
  #team .more-btn.more .more {
    display: none; }
  #team .more-btn.more .less {
    display: inline; }
	
.margin-b-40 
{
	margin-bottom: 40px;
}
 
 
#news .img-thumbnail
{
	background-color: #ffd333;
    border: 1px solid #ffd333;
	height: 150px;
}

#news .team-member a
{
	color: black;
    margin-bottom: 0px;
    display: block;
	max-height: 111px;
    overflow: hidden;
}


#project .text-block, #project .posts-wrap .post-wrap p, #problem .text-block, #problem .posts-wrap .post-wrap p, #team .text-block, #team .posts-wrap .post-wrap p {
    font-size: 14px; }
  #project .team-member p, #problem .team-member p, #team .team-member p {
    font-size: 14px; }
	

#project {
	margin: 0;
    padding-top: 15px;
    background-color: #f0f2f3;
  }
  #project h3 {
    margin-bottom: 50px; }
  #project iframe {
    width: 100%;
    height: 338px; }
  #project .text-block {
    font-size: 16px;
    line-height: 1.88;
    color: #38414b;
    padding-bottom: 25px;
    padding-top: 25px; }
  #project .opts {
    text-transform: uppercase;
    font-size: 18px; }
    #project .opts .yellow-bg {
      font-family: 'RobotoBlack', sans-serif;
      position: relative;
      border-radius: 3px;
      display: inline-block;
      padding-left: 9px;
      padding-right: 9px;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 11px;
      margin-right: 13px; }
    #project .opts span {
      font-family: 'RobotoBold', sans-serif; }
  #project .video-preview {
    width: 100%;
    height: 340px; 
	margin-bottom: 50px;
	}
	
	
	
#questions {
  min-height: 100%;
  padding-bottom: 25px;
  color: white;
  width: 100%;
  background: url(resources/images/banner-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.question-wrap {
  padding-top: 100px; }

.question-toggle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: #f4f4f4;
  border: 1px solid #ffcd22;
  padding: 0px 30px;
  margin: 0;
  cursor: pointer;
  margin-top: 9px;
  position: relative;
  color: #000000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  min-height: 65px; }

.questions {
  font-size: 14px;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #ffcd22;
  padding: 20px 30px;
  margin: 0;
  margin-top: -1px;
  text-align: justify;
  color: #000000; }

.question-title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  padding: 3px 0px; }

#questions .bullet {
  float: right;
  max-height: 30px;
  max-width: 30px; }
  
  
  
  





/* PAGES */
#banner {
    padding-bottom: 25px;
    color: white;
    width: 100%;
    background: url(resources/images/banner-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.document-template #banner {
  overflow: hidden;
  padding-bottom: 0;
}

.document-template #map {
  width: 100%;
  height: 340px; }

.documents {
	padding-top: 15px;
    padding-bottom: 15px; }

.document {
  margin-bottom: 19px; }
  .document img {
    max-width: 31px;
    max-height: 31px;
    margin-right: 12px;
    margin-left: 15px; }
  .document span {
    font-family: 'RobotoBold', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.94;
    text-align: left;
    color: #ffd334; }

#banner .rounded .document p {
  margin-bottom: 0px;
  color: #210e00;
  line-height: 1; }
  #banner .rounded .document p.download-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left; }
  #banner .rounded .document p.download-this {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left; }

.document-container .rounded .yellow-bg, .document-container .rounded .white-bg {
  border-radius: 5px;
  margin-bottom: 19px; }
  
 .document-container 
 {
	 padding-top: 100px;
 }

.rounded .document {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .rounded .document .description {
    padding-top: 15px;
    padding-bottom: 15px; }

.rounded a:hover .document {
  background-color: #ffd334; }

.rounded .flex {
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }  
  
.flying-token-wrap {
  -webkit-animation: flyIn 3s;
  -moz-animation: flyIn 3s;
  -o-animation: flyIn 3s;
  animation: flyIn 3s;
  animation-fill-mode: forwards; }

.token2 {
  max-width: 75%;
  animation: wind 20s infinite;
  -webkit-animation: wind 20s infinite;
  -moz-animation: wind 20s infinite;
  -o-animation: wind 20s infinite;
  animation-delay: 3s;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0 auto; }
  .token2.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg); }

@keyframes flyIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(27deg) rotateY(13deg) rotateZ(-17deg);
    transform-style: preserve-3d;
    transition: opacity 300ms, transform 1200ms;
    -webkit-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(27deg) rotateY(13deg) rotateZ(-17deg);
    -moz-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(27deg) rotateY(13deg) rotateZ(-17deg);
    -ms-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(27deg) rotateY(13deg) rotateZ(-17deg); } }

@keyframes wind {
  0% {
    transform-style: preserve-3d;
    transition: transform 9000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% {
    transform-style: preserve-3d;
    transition: transform 9000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: rotateX(-180deg) rotateY(180deg) rotateZ(180deg);
    -moz-transform: rotateX(-180deg) rotateY(180deg) rotateZ(180deg);
    -ms-transform: rotateX(-180deg) rotateY(180deg) rotateZ(180deg);
    transform: rotateX(-180deg) rotateY(180deg) rotateZ(180deg); } }
	

#banner p {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 20px;
    line-height: 1.46;
    color: #ffffff;
    max-width: 330px;
    margin-bottom: 30px;
}

.white-bg {
    background-color: white;
}

#banner p.yellow-text {
    width: 108px;
    font-family: 'RobotoBold', sans-serif;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    padding: 10px 9px;
    background-color: #ffd334;
    border-radius: 3px;
    color: #000;
    margin: 0;
}



/* calculator */
.calc {
  padding: 5rem 0 10rem 0;
  position: relative;
  z-index: 1; }
  @media (min-width: 767px) {
    .calc {
      padding: 15rem 0; } }
  .calc__cloud {
    position: absolute;
    width: 50%;
    height: 35%;
    right: 0;
    z-index: -1;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    display: none; }
    @media (min-width: 767px) {
      .calc__cloud {
        display: block;
        top: -90%; } }
    @media (min-width: 1025px) {
      .calc__cloud {
        top: -80%; } }
    @media (min-width: 1800px) {
      .calc__cloud {
        top: -60%; } }
  .calc__title {
    font-size: 15vw;
    font-weight: 700;
    color: #fffefe;
    text-shadow: 0 0 117px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: .1; }
    @media (min-width: 1800px) {
      .calc__title {
        font-size: 30rem; } }
    .calc__title--sm {
      font-size: 10vw; }
  .calc__params {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
            flex-flow: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 7rem 0; }
    @media (min-width: 767px) {
      .calc__params {
        margin: 5rem 0;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; 
		margin-bottom: 0;
				} }
    @media (min-width: 1800px) {
      .calc__params {
        margin: 11rem 0; } }
  .calc-params-invest {
    width: 90%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 767px) {
      .calc-params-invest {
        width: 50%; } }
    .calc-params-invest__title {
      text-align: center; 
	  color: #ffd333;
    font-size: 20px;}
    .calc-params-invest__inp {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: 3px solid #fff;
      margin: 2.5rem 0 7rem 0; }
    .calc-params-invest__price {
      max-width: 23rem;
      border: none;
      background: none;
      font-size: 4.8rem;
      font-weight: 600;
      line-height: 1.25;
      text-align: center;
      position: relative;
		color: white;	 
	    background-color: #ffffff3d;}
    .calc-params-invest__val {
      line-height: 1.25;
      font-size: 4.8rem;
      font-weight: 600;
      margin-right: 2rem; 
	  color: white;
	  }
    .calc-params-invest__slide {
      width: 85%;
      height: 5px; }
  .calc-params-bonus {
    width: 90%;
    text-align: center;
    margin-top: 10rem; }
    @media (min-width: 767px) {
      .calc-params-bonus {
        margin-top: 0;
        width: 41%; } }
    .calc-params-bonus__title {
      text-align: center; 
	  color: #ffd333;
    font-size: 20px;}
    .calc-params-bonus__input {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      margin: 2.5rem 0 7.4rem 0;
      line-height: 1.25;
      font-size: 4.8rem;
      font-weight: 600;
      color: #eb3349;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .calc-params-bonus__input span {
        font-size: 3rem;
        margin-left: 1rem;
        line-height: 1.4; }
    .calc-params-bonus__invest {
      border: none;
      background: none;
      font-size: 4.8rem;
      font-weight: 600;
      line-height: 1.2;
      text-decoration: underline;
      background-image: -webkit-gradient(linear, left top, right top, from(#eb3349), to(#f45c43));
      background-image: -webkit-linear-gradient(left, #eb3349, #f45c43);
      background-image: -o-linear-gradient(left, #eb3349, #f45c43);
      background-image: linear-gradient(to right, #eb3349, #f45c43);
      -webkit-background-clip: text;
              background-clip: text;
      -webkit-text-fill-color: transparent; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .calc-params-bonus__invest {
          background: none;
          color: #eb3349; } }
    .calc-params-bonus__bonus {
      -webkit-transform: translateY(-7rem);
          -ms-transform: translateY(-7rem);
              transform: translateY(-7rem);
      color: #eb3349;
      font-size: 3rem; }
    .calc-params-bonus__slide {
      width: 100%;
      height: 5px; }
    .calc-params-bonus__date {
          font-size: 2.4rem;
    font-weight: 600;
    color: #ffffff;
    -webkit-transform: translateY(-3rem);
    -ms-transform: translateY(-3rem);
    transform: translateY(-3rem); }
  .calc__result {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
            flex-flow: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 8rem; }
    @media (min-width: 767px) {
      .calc__result {
        margin-bottom: 0;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (min-width: 1800px) {
      .calc__result {
        margin-bottom: 17rem; } }
  .calc-result-profit {
    width: 100%; }
    @media (min-width: 767px) {
      .calc-result-profit {
        width: 50%;
		-webkit-transform: translateY(-7rem);
    -ms-transform: translateY(-7rem);
    transform: translateY(-7rem);} }
    .calc-result-profit__title {
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 3.5rem;
	color: #ffd333;}
    .calc-result-profit__income {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .calc-result-profit__income-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        width: 16.666%;
        height: 5vw; }
        .calc-result-profit__income-item::after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 1px;
          height: 100%;
          background: #738599;
          opacity: .25; }
        .calc-result-profit__income-item:last-of-type::after {
          opacity: 0; }
        .calc-result-profit__income-item-term {
          font-size: 1.8rem;
          font-weight: 700;
          color: #738599;
          margin-bottom: 2.5rem; }
        .calc-result-profit__income-item-text {
          font-size: 1.8rem;
          font-weight: 700; }
        .calc-result-profit__income-item-price {
          font-size: 1.8rem;
          font-weight: 700; }
  .calc-result-info {
    width: 90%;
    margin-top: 10rem; }
    @media (min-width: 767px) {
      .calc-result-info {
        margin: 0;
        width: 41%; } }
    .calc-result-info__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: relative;
      margin-bottom: 0.5rem;
	  }
      .calc-result-info__item--accent {
        position: relative; }
        .calc-result-info__item--accent::after {
          content: "";
          width: 110%;
          height: 130%;
          position: absolute;
          top: -35%;
          left: -5%;
          z-index: -1;
          border: 2px solid #eb3349; }
      .calc-result-info__item:last-of-type {
        margin: 0; }
      .calc-result-info__item-pos {
        font-size: 1.8rem;
        font-weight: 700;
        position: relative; 
		color: white;}
      .calc-result-info__item-total {
        font-size: 2.4rem;
        font-weight: 700;
        color: #eb3349;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .calc-result-info__item-value {
        font-size: 2.4rem;
        font-weight: 700;
        color: #eb3349; }
      .calc-result-info__item-what {
        position: absolute;
        right: -1rem;
        top: -.5rem;
        width: 1rem;
        height: 1rem;
        cursor: pointer; }
      .calc-result-info__item-detail {
        position: absolute;
        left: 120%;
        top: -2rem;
        width: 100%;
        height: auto;
        font-size: 1.3rem;
        line-height: 1.1;
        font-weight: 400;
        -webkit-border-radius: .5rem;
                border-radius: .5rem;
        border: 1px solid #000;
        padding: 4%;
        opacity: 0;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        background: #ffffff; }
        .calc-result-info__item-detail--active {
          opacity: 1; }
  .calc__how {
    font-weight: bold;
    text-align: center;
    color: #738599;
    margin-top: 2.5rem;
    cursor: pointer; }

	
#registrationModal .or, #loginModal .or {
  background-color: #ffd334;
  width: 55px;
  height: 55px;
  position: absolute;
  left: -43px;
  border-radius: 55%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  align-content: center; }
  #registrationModal .or p, #loginModal .or p {
    margin: 0 auto;
    font-family: 'RobotoBold', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.33;
    text-align: center;
    color: #ffffff; }

#registrationModal label, #loginModal label {
  /*display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center; */}

#registrationModal .modal-content, #loginModal .modal-content {
  background-color: transparent; }
  #registrationModal .modal-content .left, #loginModal .modal-content .left {
    background-color: #fff; }

#registrationModal .help-block, #loginModal .help-block {
  position: absolute; }

#registrationModal input, #loginModal input {
  height: 40px; }

#registrationModal .form-group, #loginModal .form-group {
  margin-bottom: 25px; }

#registrationModal .modal-body, #loginModal .modal-body {
  background: url(resources/images/auth-modal-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#registrationModal .pass-confirm .help-block {
  position: relative; }

#registrationModal .left, #registrationModal .right {
  min-height: 300px; }

#wpcrlRegisterSection .left, #wpcrlLoginSection .left {
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 40px; }
  #wpcrlRegisterSection .left input, #wpcrlLoginSection .left input {
    width: 100%; }

#wpcrlRegisterSection h4, #wpcrlLoginSection h4 {
  font-family: 'RobotoBold', sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.17;
  margin-top: 20px;
  margin-bottom: 32px;
  color: #38414b; }

#wpcrlRegisterSection h2, #wpcrlLoginSection h2 {
  font-family: 'RobotoBold', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #ffffff; }

#wpcrlRegisterSection input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #6fb600;
  border: solid 2px #6fb600;
  margin-top: 0px; }

#wpcrlRegisterSection h2 {
  margin-top: 145px;
  margin-bottom: 90px; }

#wpcrlLoginSection {
  overflow: hidden; }
  #wpcrlLoginSection h2 {
    margin-top: 80px;
    margin-bottom: 30px; }

.agreement-terms {
  font-size: 15px;
  line-height: 1.56;
  text-align: left;
  color: #5c6670; }
  .agreement-terms i {
    display: none !important; }
  .agreement-terms a {
    color: #6fb600; }

.registration-submit, .login-submit, .forget-password, .reset-password-submit, .back-to-login {
  border-radius: 3px;
  background-color: #6fb600;
  border: solid 1px #6fb600;
  font-family: 'RobotoBold', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 2.08;
  text-align: center;
  color: #ffffff; }

.login-submit, .forget-password {
  font-size: 20px; }

.reset-password-submit, .back-to-login {
  font-size: 18px; }

.registration-submit {
  width: 100%; }

.login-btn-wrap {
  padding-left: 0px; }

.reset-btn-wrap {
  padding-right: 0px; }

.login-submit, .forget-password, .reset-password-submit, .back-to-login {
  width: 100%; }

.social-auth img {
  cursor: pointer; }

.social-auth div {
  width: 55px;
  height: 55px;
  display: inline-block;
  margin-right: 23px; }

.social-auth div:last-of-type {
  margin-right: 0px; }

.social-auth.mobile {
  display: none;
  margin-top: 25px;
  font-weight: bold; }
  .social-auth.mobile div {
    width: 40px;
    height: 40px; }

.register-vk, .vk-login {
  background: url(resources/images/icons/55/vk.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.fbregister, .fblogin {
  background: url(resources/images/icons/55/fb.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.google-register, .google-login {
  background: url(resources/images/icons/55/g+.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.register-vk, .fbregister, .google-register, .vk-login, .fblogin, .google-login {
  cursor: pointer; }

.agreement-input-wrap {
  width: 20px;
  height: 100%;
  display: inline-block;
  margin-right: 10px; }

  
  
  
  
   
  
/*-------------------------------------------------------------------------
	9.5 Latest Posts widget & Popular Posts widget
-------------------------------------------------------------------------*/

.recent-posts-wrap {
	padding: 0;
	margin: 0 !important;
}
.recent-posts-wrap ul {
	margin: 0;
	padding: 0;
}
.recent-posts-wrap li {
	list-style-type: none;
	line-height: 18px;
	margin: 0 !important;
	padding: 10px 10px 10px 90px;
	width: 100%;
	float: left;
	position: relative;
}
.recent-posts-wrap li:last-child {
	border-bottom: 0 !important;
}
.sidebar-widget .recent-posts-wrap li:hover {
	background: #FCFCFC;
}
.footer-widget .recent-posts-wrap li {
	border-bottom: 1px solid #3c3c3c;
	padding: 10px 10px 10px 80px;
}
.widget-post-data {
	display: inline-block;
}
.widget-post-img {
	float: left;
	width: 70px;
	margin: 0 10px 0 -80px;
}
.widget .post-format {
	width: 70px;
	height: 70px;
	top: 10px;
	left: 10px;
}
.post-format:hover {
	background: rgba(0, 0, 0, 0.5);
}
.post-format:hover .fa {
	-ms-transform: scale(1,1);
	transform: scale(1,1);  
	-webkit-transform: scale(1,1);
}
.post-format .fa {
	color: #FFF;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid #FFF;
	margin: 15px;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transform: scale(0,0);
	-o-transition: all .2s;
	-ms-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}
.widget-post-data h4 {
	clear: none;
	font-size: 17px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
}
.widget-post-info {
	font-size: 0.89em;
	margin: 0 !important;
	border-bottom:0 !important;
	padding: 0 !important;
	display: inline-table;
	color: #919191;
}
.widget-post-info > span {
	display: inline-block;
	font-size: 12px;
	padding-right: 5px;
}
.widget-post-info .fa {
	padding-right: 4px;
}
.widget-post-excerpt {
	font-size: 90%;
}
.sidebar-widget .recent-posts-wrap li {
	border-bottom: 1px solid #f2f2f2;
	-webkit-transition: all .40s;
	-moz-transition: all .40s;
	-o-transition: all .40s;
	transition: all .40s;
}

/*--------------------------------------------------------------
	10.0 Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	10.1 Homepage & Archives
--------------------------------------------------------------*/

.post-box {
	padding: 0;
	clear: both;
	list-style-type: none;
	width: 100%;
	float: left;
}
.big-post-box {
	margin: 1.5% 0 3% 0;
	position: relative;
	overflow: hidden;
}
.small-post-box {
	margin: 0;
    margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.small-post-img{
	width: 295px;
}
.small-post-img img {
	display: block;
	width: 250px;
}
.category-box a{
	z-index: 5;
	display: block;
	position: absolute;
	top: 0;
	padding: 5px 10px;
	text-align: center;
	background: #444;
	font-size: 14px;
	opacity: 0.5;
}
.category-box a:hover{
	background: #444;
	opacity: 1;
}
.post-data {
	position: relative;
	overflow: hidden;
	margin-top: 0;
	padding: 0 10px;
}
.small-post-data {
	padding-top: 10px;
}
.post-data header {
	margin-bottom: 0;
	float: left;
	width: 100%;
}
.single-featured {
	position: relative;
}
.single-featured img {
	display: block;
	width: 100%;
}
.post-title a{
	display: block;
	margin: 0;
	font-size: 1em;
	line-height: 1.3em;
	margin-bottom: 8px;
}
.post-info>span {
	display: inline-block;
	font-size: 0.9em;
	padding-bottom: 10px;
	padding-right: 5px;
}
.posted a, .theauthor a, .comments a {
	color: #919191;
}
.thecategory a {
	padding: 2px 5px;
	margin: 2px 0;
	background: #444;
	color: #FFF !important;
}
.thecategory a:hover {
	color:#fff !important;
}
.post-category a {
	padding: 2px 5px;
	background: #444;
	color:#fff !important;
}
.post-category a:hover {
	color:#fff !important;
}
.theauthor a {
	float: none;
	text-transform: none;
	margin-right: 0;
	font-size: 1.05em;
	font-weight: normal;
	color: #919191 !important;
}
.theauthor a:hover {
	color: #919191 !important;
}
.post-info .fa {
	padding-right: 5px;
	font-size: 14px;
}
.post-info {
	display: inline-table;
	color: #919191;
	float: left;
	clear: both;
	width: 100%;
}
.big-post-box .post-info {
	padding: 10px 10px 0 10px;
}
.post-info ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.post-info li{
	display: inline;
}
.post-excerpt {
	width: 100%;
	display: inline-block;
	padding: 0 10px 15px 0;
	opacity: 0.8;
}
.big-post-box .post-excerpt {
	padding: 0 10px;
}
.readmore {
	float: left;
	margin-bottom: 10px;
	border-radius: 3px;
}
.big-post-box .readmore {
  float: right;
  margin: 10px;
}
.readmore a {
	display: inline-block;
	padding: 8px 0;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
}
.post-img {
	margin: 0;
	float: left;
	position: relative;
	overflow: hidden;
}
.sticky.small-post-box:before {
	font-family: FontAwesome;
	content: "\f005";
	z-index: 1;
	position: absolute;
	right: -30px;
	top: -11px;
	font-size: 20px;
	padding: 15px 30px 5px 30px;
	background-color: #ffd700;
	color: #FFFFFF;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.sticky.big-post-box:before {
	z-index: 9;
	font-family: FontAwesome;
	content: "\f005";
	position: absolute;
	right: -30px;
	top: -11px;
	font-size: 20px;
	padding: 15px 30px 5px 30px;
	background-color: #ffd700;
	color: #FFFFFF;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
  

/*--------------------------------------------------------------
	10.2 Posts and pages
--------------------------------------------------------------*/

.single article .entry-header {
	display: inline-block;
	margin-bottom: 0;
	border-bottom: 1px solid #eee;
}
.entry-title, .page-title {
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
}
.article {
	width: 71.7%;
	float: left;
	margin-bottom: 10px;
	padding: 0;
}
.sticky {
	display: block;
}
.pin-wrapper {
	height: 100% !important;
}
.byline,
.updated:not(.published) {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.single header {
	width: 100%;
	margin-bottom: 15px;
}
.single .post-info {
	padding-bottom: 10px;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
blockquote, q {
	position: relative;
	background: rgba(198, 0, 0, 0.09);
	padding: 20px 20px 20px 40px;
	margin: 10px;
}
blockquote:before, q:before {
	content: "\f10e";
	font-family: FontAwesome;
	font-family: FontAwesome;
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 20px;
}
.postauthor {
	margin: 0;
	padding: 0;
	min-height: 180px;
	float: left;
	clear: both;
	width: 100%;
}
.postauthor h3, .postauthor-top {
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: 20px;
  font-weight: normal;
}
.author-box {
	float: left;
	width: 100%;
	padding: 10px;
	background: #FFF;
}
.author-box img {
	float: left;
	border-radius: 50%;
}
.author-box img, .author-box-content {
	margin: 0;
}
.author-box-content {
	position: relative;
	overflow: hidden;
	padding: 0 5px;
}
.author-box-content p {
	padding: 0 7px;
	margin: 0;
}
.postauthor .vcard {
	margin-bottom: 5px;
	text-transform: uppercase;
}
.postauthor p {
	padding-top: 0;
	margin-bottom: 0;
}
.postauthor .vcard .mail {
	color: #919191;
}
.postauthor .vcard .fa {
	padding: 0 7px;
}
.related-posts h3 {
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 20px;
	font-weight: normal;
}
.related-posts ul {
	margin-left: 0;
	padding: 0;
	margin: 0;
	margin-top: 0;
}
.related-posts li {
	width: 48.5%;
	float: left;
	list-style: none;
	margin-bottom: 20px;
	margin-right: 3%;
	padding: 0;
}
.related-posts .horizontal-container {
	width: 100%;
	float: left;
	position: relative;
	background: #FFF;
}
.related-posts .relatedthumb {
	position: relative;
	width: 120px;
	height: 120px;
	float: left;
	overflow: hidden;
}
.post-format {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	-o-transition:background .2s;
	-ms-transition:background .2s;
	-moz-transition:background .2s;
	-webkit-transition:background .2s;
	transition:background .5s;
}
.related-posts .post-data-container {
	padding: 5px;
	overflow: hidden;
}
.related-posts h4 {
	clear: none;
	font-size: 22px;
	font-weight: normal;
	line-height: 25px;
	margin: 0;
	overflow: hidden;
}
.related-posts .post-title a {
	font-size: 17px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
}
.related-posts .post-info {
	margin: 0 !important;
	border-bottom: 0 !important;
	padding: 0 !important;
	display: inline-table;
	color: #919191;
}
.related-posts .post-info span {
	margin-right: 5px;
	font-size: 12px;
}
.related-posts li:nth-child(even) {
	clear: right;
	margin-right: 0;
}
.related-posts li:nth-child(odd) {
	clear: left;
}

/*--------------------------------------------------------------
	10.3 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
	10.4 Comments
--------------------------------------------------------------*/

.nocomments {
	margin: 0;
	clear: both;
	float: left;
	width: 100%;
}
.total-comments { text-transform: uppercase }
#comments {
	margin-top: 40px;
	padding: 0;
	float: left;
	clear: both;
	width: 100%;
}
#commentsAdd {
	width: 100%;
	float: left;
	clear: both;
}
#comments .avatar {
	position: absolute;
	left: -90px;
	top: 0;
	background: #B2B2B2;
}
.comment-box {
	display: block;
	background: #fff;
	padding: 10px;
	margin-left: 90px;
	margin-bottom: 20px;
	min-height: 100px;
	position: relative;
	-webkit-box-shadow: 0 1px 1px #c2c4c4;
	-moz-box-shadow: 0 1px 1px #c2c4c4;
	box-shadow: 0 1px 1px #c2c4c4;
}
#comments ul.children {
	width: 100%;
}
.comment time { padding-left: 10px }
ul.children .commentImageLeft {
	width: 60px;
	height: 90px;
	border-left: 1px solid #c1bbb6;
	border-bottom: 1px solid #c1bbb6;
	position: absolute;
	top: -50px;
	left: -70px;
}
input.text-input, #commentform input { padding: 11px }
input#author, input#email, input#url {
	width: 300px;
	border: 1px solid #eee;
	background: #eeeeee;
	max-width: 85%;
	margin-right: 10px;
}
input#author, input#email, input#url, #comment {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	border-radius: 3px;
	text-shadow: 0 1px 1px #FFF;
}
#cancel-comment-reply-link {
	float: right;
	line-height: 24px;
	font-size: 0.7em;
	margin-top: 25px;
	cursor: pointer;
	margin-bottom: -40px;
	text-decoration: underline;
	text-transform: none;
	z-index: 100;
	position: relative;
}
#commentform input#submit, .contactform #submit, input[type="submit"] {
	float: right;
	display: inline-block;
	border: none;
	border-radius: 3px;
	color: #333;
	background: #f0f0f0;
	border-color: #ccc;
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	margin: 0 0 10px;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	border-radius: 3px;
	display: inline-block;
	padding: 7px 20px 9px;
	box-shadow: inset 0 -2px rgba(0,0,0,.2);
	font-size: 15px;
	vertical-align: middle;
	border: 1px solid #ccc;
	outline: none;
	transition: all .2s ease; 	
}
#commentform input#submit:hover, .contactform #submit:hover, input[type="submit"]:hover {
	color: #333 !important;
}
#commentform input#submit:active, .contactform #submit:active, input[type="submit"]:active {
	color: #333 !important;
	-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.2);
	cursor: pointer;
}
.contactform #submit { float: left }
.contactform label { display: block }
.contactform {
	overflow: hidden;
	margin-bottom: 35px;
}
.error { color: red }
.thanks p { color: green }
ol.commentlist {
	margin-left: 0;
	margin-top: 13px;
	padding-left: 0;
}
.commentlist li {
	list-style: none;
	margin: 0;
	padding-left: 0;
	float: left;
	width: 100%;
	position: relative;
}
.commentlist p { margin-bottom: 10px; margin-top: 5px; }
.ago {
	color: #919191;
	float: left;
	padding-right: 10px;
	font-size: 15px;
}
.comment-author {
	overflow: hidden;
	padding-right: 5px;
}
.comment-reply-link {
	float: right;
	margin-left: 15px;
	font-size: 14px;
}
.commentmetadata {
	margin-left: 5px;
}
.commentmetadata > ul, .commentmetadata > ol {
	margin-bottom: 15px!important;
	float: left;
}
.commentmetadata li {
	border: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5px;
	list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.reply {
	margin-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	width: 100%;
	float: right;
}
.reply a {
	font-weight: bold;
	float: left;
	padding: 0;
	font-size: 12px;
}
.comment #respond #respond { margin-top: 20px }
.commentlist .children {
	margin-bottom: 0;
	margin-top: 0;
	float: left;
}
.commentlist .children li { padding-bottom: 0 }
.avatar {
	float: left;
	border-radius: 3px;
}
.commentlist .bypostauthor .comment-author .commenter_is_author {
	font-size: 0.9em;
	text-transform: none;
	padding: 0 10px;
	background: #444;
	color: #fff;
	border-radius: 20px;
	margin: 0 5px;
}
.commentlist li ul.children li.bypostauthor .comment-author .commenter_is_author {
	font-size: 0.9em;
	text-transform: none;
	padding: 0 10px;
	background: #444;
	color: #fff;
	border-radius: 20px;
	margin: 0 5px;
}
#respond h3 {
	font-size: 1.5em;
	line-height: 20px;
	font-weight: normal;
}
.comment-awaiting-moderation {
	font-style: italic;
	font-weight: bold;
}
#commentform textarea {
	width: 100%;
	border: 1px solid #eee;
	background: #eeeeee;
	padding: 2%;
	line-height: 25px;
	font-family: inherit;
	resize: vertical;
}
#commentform textarea:focus { background: #fff }
#commentform p {
	margin-bottom: 15px;
	float: left;
	width: 100%;
	clear: both;
}
#commentform p label {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
}
.cancel-comment-reply a {
	float: right;
	margin-top: -8px;
}
.required {
	color: red;
	padding: 0;
	line-height: 1;
}
.comment-notes .required {
	padding-left: 0;
	padding-top: 3px;
}
.comment-notes { font-style: italic }

.comment-content a {
	word-wrap: break-word;
}
#respond h4, .total-comments {
	padding: 0;
	font-size: 1.5em;
	line-height: 20px;
	font-weight: normal;
}
.total-comments {
	margin: 0;
}

/*--------------------------------------------------------------
	11.0 Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
	11.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

  

/*--------------------------------------------------------------
	10.1 Homepage & Archives
--------------------------------------------------------------*/

.post-box {
	padding: 0;
	clear: both;
	list-style-type: none;
	width: 100%;
	float: left;
}
.big-post-box {
	margin: 1.5% 0 3% 0;
	position: relative;
	overflow: hidden;
}
.small-post-box {
	margin: 0;
    margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.small-post-img{
	width: 298px;
}
.small-post-img img {
	display: block;
	width: 100%;
	margin-bottom: 0;
    margin-left: 0;
}
.category-box a{
	z-index: 5;
	display: block;
	position: absolute;
	top: 0;
	padding: 5px 10px;
	text-align: center;
	background: #444;
	font-size: 14px;
	opacity: 0.5;
}
.category-box a:hover{
	background: #444;
	opacity: 1;
}
.post-data {
	position: relative;
	overflow: hidden;
	margin-top: 0;
	padding: 0 10px;
}
.small-post-data {
	padding-top: 0;
	padding-left: 5px;
}
.post-data header {
	margin-bottom: 0;
	float: left;
	width: 100%;
}
.single-featured {
	position: relative;
}
.single-featured img {
	display: block;
	width: 100%;
}
.post-title a{
	color: #414243;
	display: block;
	margin: 0;
	font-size: 0.7em;
	line-height: 1.6em;
    margin-bottom: 10px;
	font-family: "RobotoBold", sans-serif;
}
.post-info>span {
	display: inline-block;
	font-size: 0.9em;
	padding-bottom: 10px;
	padding-right: 5px;
}
.posted a, .theauthor a, .comments a {
	color: #919191;
}
.thecategory a {
	padding: 2px 5px;
	margin: 2px 0;
	background: #444;
	color: #FFF !important;
}
.thecategory a:hover {
	color:#fff !important;
}
.post-category a {
	padding: 2px 5px;
	background: #444;
	color:#fff !important;
}
.post-category a:hover {
	color:#fff !important;
}
.theauthor a {
	float: none;
	text-transform: none;
	margin-right: 0;
	font-size: 1.05em;
	font-weight: normal;
	color: #919191 !important;
}
.theauthor a:hover {
	color: #919191 !important;
}
.post-info .fa {
	padding-right: 5px;
	font-size: 14px;
}
.post-info {
	display: inline-table;
	color: #919191;
	float: left;
	clear: both;
	width: 100%;
}
.big-post-box .post-info {
	padding: 10px 10px 0 10px;
}
.post-info ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.post-info li{
	display: inline;
}
.post-excerpt {
	width: 100%;
	height: 85px;
	display: inline-block;
	padding: 0 10px 15px 0;
	opacity: 0.8;
	max-height: 142px;
	overflow: hidden;
}
.big-post-box .post-excerpt {
	padding: 0 10px;
}
.readmore {
	float: left;
	margin-bottom: 10px;
	border-radius: 3px;
}
.big-post-box .readmore {
  float: right;
  margin: 10px;
}
.readmore a {
	color: #6fb600;
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid #6fb600;
    border-radius: 5px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    /*padding-left: 0;*/
}
.readmore a:hover {
	border-color: #6fb600 !important;
    background-color: #6fb600;
    color: white;
	text-decoration: none;
}
.readmore a:active {
	border-color: #6fb600 !important;
    background-color: #6fb600;
    color: white;
	text-decoration: none;
}
.post-img {
	margin: 0;
	float: left;
	position: relative;
	overflow: hidden;
	padding-left: 5px;
	margin-top: 5px;
}
.post-img.small-post-img
{
	padding-left: 0;
}	

.sticky.small-post-box:before {
	font-family: FontAwesome;
	content: "\f005";
	z-index: 1;
	position: absolute;
	right: -30px;
	top: -11px;
	font-size: 20px;
	padding: 15px 30px 5px 30px;
	background-color: #ffd700;
	color: #FFFFFF;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.sticky.big-post-box:before {
	z-index: 9;
	font-family: FontAwesome;
	content: "\f005";
	position: absolute;
	right: -30px;
	top: -11px;
	font-size: 20px;
	padding: 15px 30px 5px 30px;
	background-color: #ffd700;
	color: #FFFFFF;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

/*--------------------------------------------------------------
	10.2 Posts and pages
--------------------------------------------------------------*/

.single article .entry-header {
	display: inline-block;
	margin-bottom: 0;
	border-bottom: 1px solid #eee;
}
.entry-title, .page-title {
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	color: #333;
}
.article {
	width: 71.7%;
	float: left;
	margin-bottom: 10px;
	padding: 0;
}
.sticky {
	display: block;
}
.pin-wrapper {
	height: 100% !important;
}
.byline,
.updated:not(.published) {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.single header {
	width: 100%;
	margin-bottom: 15px;
}
.single .post-info {
	padding-bottom: 10px;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
blockquote, q {
	position: relative;
	background: rgba(198, 0, 0, 0.09);
	padding: 20px 20px 20px 40px;
	margin: 10px;
}
blockquote:before, q:before {
	content: "\f10e";
	font-family: FontAwesome;
	font-family: FontAwesome;
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 20px;
}
.postauthor {
	margin: 0;
	padding: 0;
	min-height: 180px;
	float: left;
	clear: both;
	width: 100%;
}
.postauthor h3, .postauthor-top {
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: 20px;
  font-weight: normal;
}
.author-box {
	float: left;
	width: 100%;
	padding: 10px;
	background: #FFF;
}
.author-box img {
	float: left;
	border-radius: 50%;
}
.author-box img, .author-box-content {
	margin: 0;
}
.author-box-content {
	position: relative;
	overflow: hidden;
	padding: 0 5px;
}
.author-box-content p {
	padding: 0 7px;
	margin: 0;
}
.postauthor .vcard {
	margin-bottom: 5px;
	text-transform: uppercase;
}
.postauthor p {
	padding-top: 0;
	margin-bottom: 0;
}
.postauthor .vcard .mail {
	color: #919191;
}
.postauthor .vcard .fa {
	padding: 0 7px;
}
.related-posts h3 {
	margin-bottom: 20px;
	font-size: 1.5em;
	line-height: 20px;
	font-weight: normal;
}
.related-posts ul {
	margin-left: 0;
	padding: 0;
	margin: 0;
	margin-top: 0;
}
.related-posts li {
	width: 48.5%;
	float: left;
	list-style: none;
	margin-bottom: 20px;
	margin-right: 3%;
	padding: 0;
}
.related-posts .horizontal-container {
	width: 100%;
	float: left;
	position: relative;
	background: #FFF;
}
.related-posts .relatedthumb {
	position: relative;
	width: 120px;
	height: 120px;
	float: left;
	overflow: hidden;
}
.post-format {
	z-index: 2;
	position: absolute;
	width: 250px;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	-o-transition:background .2s;
	-ms-transition:background .2s;
	-moz-transition:background .2s;
	-webkit-transition:background .2s;
	transition:background .5s;
}
.related-posts .post-data-container {
	padding: 5px;
	overflow: hidden;
}
.related-posts h4 {
	clear: none;
	font-size: 22px;
	font-weight: normal;
	line-height: 25px;
	margin: 0;
	overflow: hidden;
}
.related-posts .post-title a {
	font-size: 17px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
}
.related-posts .post-info {
	margin: 0 !important;
	border-bottom: 0 !important;
	padding: 0 !important;
	display: inline-table;
	color: #919191;
}
.related-posts .post-info span {
	margin-right: 5px;
	font-size: 12px;
}
.related-posts li:nth-child(even) {
	clear: right;
	margin-right: 0;
}
.related-posts li:nth-child(odd) {
	clear: left;
}

/*--------------------------------------------------------------
	10.3 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
	10.4 Comments
--------------------------------------------------------------*/

.nocomments {
	margin: 0;
	clear: both;
	float: left;
	width: 100%;
}
.total-comments { text-transform: uppercase }
#comments {
	margin-top: 40px;
	padding: 0;
	float: left;
	clear: both;
	width: 100%;
}
#commentsAdd {
	width: 100%;
	float: left;
	clear: both;
}
#comments .avatar {
	position: absolute;
	left: -90px;
	top: 0;
	background: #B2B2B2;
}
.comment-box {
	display: block;
	background: #fff;
	padding: 10px;
	margin-left: 90px;
	margin-bottom: 20px;
	min-height: 100px;
	position: relative;
	-webkit-box-shadow: 0 1px 1px #c2c4c4;
	-moz-box-shadow: 0 1px 1px #c2c4c4;
	box-shadow: 0 1px 1px #c2c4c4;
}
#comments ul.children {
	width: 100%;
}
.comment time { padding-left: 10px }
ul.children .commentImageLeft {
	width: 60px;
	height: 90px;
	border-left: 1px solid #c1bbb6;
	border-bottom: 1px solid #c1bbb6;
	position: absolute;
	top: -50px;
	left: -70px;
}
input.text-input, #commentform input { padding: 11px }
input#author, input#email, input#url {
	width: 300px;
	border: 1px solid #eee;
	background: #eeeeee;
	max-width: 85%;
	margin-right: 10px;
}
input#author, input#email, input#url, #comment {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	border-radius: 3px;
	text-shadow: 0 1px 1px #FFF;
}
#cancel-comment-reply-link {
	float: right;
	line-height: 24px;
	font-size: 0.7em;
	margin-top: 25px;
	cursor: pointer;
	margin-bottom: -40px;
	text-decoration: underline;
	text-transform: none;
	z-index: 100;
	position: relative;
}
#commentform input#submit, .contactform #submit, input[type="submit"] {
	float: left;
	display: inline-block;
	border: none;
	border-radius: 3px;
	color: #333;
	background: #f0f0f0;
	border-color: #ccc;
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	margin: 0 0 10px;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	border-radius: 3px;
	display: inline-block;
	padding: 7px 20px 9px;
	box-shadow: inset 0 -2px rgba(0,0,0,.2);
	font-size: 15px;
	vertical-align: middle;
	border: 1px solid #ccc;
	outline: none;
	transition: all .2s ease; 	
}
#commentform input#submit:hover, .contactform #submit:hover, input[type="submit"]:hover {
	color: #333 !important;
}
#commentform input#submit:active, .contactform #submit:active, input[type="submit"]:active {
	color: #333 !important;
	-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,.2);
	cursor: pointer;
}
.contactform #submit { float: left }
.contactform label { display: block }
.contactform {
	overflow: hidden;
	margin-bottom: 35px;
}
.error { color: red }
.thanks p { color: green }
ol.commentlist {
	margin-left: 0;
	margin-top: 13px;
	padding-left: 0;
}
.commentlist li {
	list-style: none;
	margin: 0;
	padding-left: 0;
	float: left;
	width: 100%;
	position: relative;
}
.commentlist p { margin-bottom: 10px; margin-top: 5px; }
.ago {
	color: #919191;
	float: left;
	padding-right: 10px;
	font-size: 15px;
}
.comment-author {
	overflow: hidden;
	padding-right: 5px;
}
.comment-reply-link {
	float: right;
	margin-left: 15px;
	font-size: 14px;
}
.commentmetadata {
	margin-left: 5px;
}
.commentmetadata > ul, .commentmetadata > ol {
	margin-bottom: 15px!important;
	float: left;
}
.commentmetadata li {
	border: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5px;
	list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.reply {
	margin-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	width: 100%;
	float: right;
}
.reply a {
	font-weight: bold;
	float: left;
	padding: 0;
	font-size: 12px;
}
.comment #respond #respond { margin-top: 20px }
.commentlist .children {
	margin-bottom: 0;
	margin-top: 0;
	float: left;
}
.commentlist .children li { padding-bottom: 0 }
.avatar {
	float: left;
	border-radius: 3px;
}
.commentlist .bypostauthor .comment-author .commenter_is_author {
	font-size: 0.9em;
	text-transform: none;
	padding: 0 10px;
	background: #444;
	color: #fff;
	border-radius: 20px;
	margin: 0 5px;
}
.commentlist li ul.children li.bypostauthor .comment-author .commenter_is_author {
	font-size: 0.9em;
	text-transform: none;
	padding: 0 10px;
	background: #444;
	color: #fff;
	border-radius: 20px;
	margin: 0 5px;
}
#respond h3 {
	font-size: 1.5em;
	line-height: 20px;
	font-weight: normal;
}
.comment-awaiting-moderation {
	font-style: italic;
	font-weight: bold;
}
#commentform textarea {
	width: 100%;
	border: 1px solid #eee;
	background: #eeeeee;
	padding: 2%;
	line-height: 25px;
	font-family: inherit;
	resize: vertical;
}
#commentform textarea:focus { background: #fff }
#commentform p {
	margin-bottom: 15px;
	float: left;
	width: 100%;
	clear: both;
}
#commentform p label {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
}
.cancel-comment-reply a {
	float: right;
	margin-top: -8px;
}
.required {
	color: red;
	padding: 0;
	line-height: 1;
}
.comment-notes .required {
	padding-left: 0;
	padding-top: 3px;
}
.comment-notes { font-style: italic }

.comment-content a {
	word-wrap: break-word;
}
#respond h4, .total-comments {
	padding: 0;
	font-size: 1.5em;
	line-height: 20px;
	font-weight: normal;
}
.total-comments {
	margin: 0;
}

/*--------------------------------------------------------------
	11.0 Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
	11.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
	11.2 Galleries
--------------------------------------------------------------*/

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {
	display: block;
}

/*-----------------------------------------------
	12.0 Media Queries 
/*---------------------------------------------*/

@media screen and (min-width:1123px) {
	.small-post-img.video .mejs-container {
		height: 248px !important;
	}
}

@media screen and (max-width:1123px) { 
	.main-container, .container {
		max-width: 96%;
	}
	.small-post-img{
		width: 40%;
		margin: 0;
	}	
	.small-post-data {
		width: 58%;
		float: left;
	}
}

@media screen and (max-width:1029px) { 
	.header_area {
		width: 468px;
		height: 60px;
	}
}

@media screen and (max-width:1000px) { 
	.main-navigation ul li a {
		padding: 19px 10px !important;
	}
}

@media screen and (max-width:865px) { 
	#sticky {
		display: none;
	}
	#sideviewtoggle, .sideviewtoggle {
		display: block;
	}
	a.sideviewtoggle {
		width: 100%;
		text-align: center;
		padding: 10px 0;
		text-transform: uppercase;
	}
	#mobile-menu-wrapper .fa-search {
		font-family: FontAwesome;
		position: absolute;
		right: 20px;
		top: 9px;
		font-size: 20px;
		color: #fff;
	}
	#mobile-menu-wrapper .search-form .fa {
		display:none;
	}
	#mobile-menu-wrapper .mobile_search {
		padding: 5px 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
	#mobile-menu-wrapper .mobile_search .search-field {
		width: 100%;
		border-radius: 15px;
		color: #fff;
		background: #444;
		border: 0;
		text-indent: 10px;
		height: 30px;
	}
	#mobile-menu-wrapper .mobile_search .search-submit {
		display: none;
	}
	#navigation ul li {
		list-style: none;
		width: 100%;
	}
	#navigation ul li a { 
		padding: 9px 20px;
		display: inline-block;
		width: 100%;
	}
	#navigation ul li li {
		width: 100%!important;
		float: left;
		position: relative;
	}
	#navigation .current-menu-item>a {
		background: rgba(0,0,0,0.1);
	}
	.mobile-menu .container {
		max-width: 100%;
	}
	#navigation {
		width: 100%;
	}
}

@media screen and (max-width:830px) { 
	.content-area { width: 100% }
	.site-main {
		padding-right: 0;
		padding-left: 0!important;
	}
	.main-container .widget-area {
		float: none;
		margin: 0 auto;
		overflow: hidden;
		width: 60%;
	}
	.post-box { 
		margin-bottom: 10px !important; 
	}
	.widget-area .search-form:after {
		right: 20%;
	}
}

@media screen and (max-width:776px) { 
	
	.site-header {
		margin-bottom: 10px;
	}
	.logo-wrap, .header_area-wrap {
		width: 100%;
		display: table-row;
		text-align: center;
		float: none;
	}
	.header_area {
		float: none;
		margin: 0 auto;
		max-width: 600px;
		height: auto;
	}
	.logo {
		width: 70%;
		margin: 0 auto;
	}	
}

@media screen and (max-width:560px) {
	.post-data {
		width: 48%!important;
	}
	.post-box { width: 100%!important }
	.post-img { width: 49%!important }
	.post-box { margin-bottom: 10px !important }
	.post-data { float: right }
	.post-data:after {
		border-width: 10px 14px 10px 0;
		border-color: transparent #444;
		margin-top: -10px;
		left: -14px;
		top: 25%;
		bottom: auto;
	}
}

@media screen and (max-width:510px) {
	.header_area {
		max-width: 320px;
	}
}

@media screen and (max-width:480px) { 
	.post-img, .post-data { 
		width: 100% !important;
	}
	.single-featured.link p {
	  font-size: 1em;
	}	
	.post-img img {
		padding-right: 0%;
		width: 100%;
	}
	.widget-area .search-form:after {
		right: 10%;
	}
	.pagination a, .page-numbers {
		padding: 7px 12px;
		min-width: 30px;
	}
	.pagination .currenttext {
		min-width: 30px;
		padding: 7px 12px;
	}
	.main-container .widget-area {
		width: 80%;
	}
	.related-posts .relatedthumb {
		width: 100%;
		float: none;
	}
	.related-posts .post-data-container {
		margin: 0;
		padding-left: 0;
	}
	.copyrights { text-align: center }
	#copyright-note > span { width: 100% }
	#copyright-note .site-info, #copyright-note .right {
		float: none;
	}
}

@media screen and (max-width:320px) {
	.header_area {
		max-width: 300px;
	}
}

article.small-post-box {
    /*-webkit-box-shadow: 0px 1px 1px #c2c4c4;
    -moz-box-shadow: 0px 1px 1px #c2c4c4;
    box-shadow: 0px 1px 1px #c2c4c4;*/
	height: 230px;
    margin: 10px 0;
    border-bottom: 1px solid darkgray;
}

.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #6fb600 !important;
    padding: 3px 5px;
    margin: 2px;
    color: #6fb600;
	font-size: 23px;
	min-width: 40px;
    display: inline-block;
    text-align: center;
	border-radius: 5px;
}

.wp-pagenavi {
    clear: both;
    color: white;
	text-align: center;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #6fb600 !important;
    background-color: #6fb600;
    color: white;
}





#scrollup {
	position: fixed;
	right: 60px;
	bottom: 300px;
	width: 81px;
	height: 81px;
	background:  transparent url(img/scrollup.png) no-repeat center center;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.3s;
}
#scrollup.visible {
	opacity: 1;
}
#scrollup a {
	display: block;
	width: 100%;
	height: 100%;
	background:  transparent url(img/scrollup_hover.png) no-repeat center center;
	opacity: 0;
	transition: opacity 0.3s;
}
#scrollup a:hover {
	opacity: 1;
}

span.locale
{
	text-transform: uppercase;
    margin-left: 5px;
}