#problem{
  padding-top: 40px;
  .text-block{

    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    color: #9099a3;
  }
  .city-image{
    width: 100%;
    height: 150px;
    margin-bottom: 12px;

    background-image: url('resources/images/city2.png');
    background-repeat: no-repeat;

    background-position: bottom;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .container{
      height: 100%;
      .tooltips-wrap{
        height: 60%;
        @include display-flex();
        align-items: flex-end;
      }
    }
  }
  .city-description{

    margin-bottom: 40px;
    text-align: center;
    .dark-bg{
      cursor: pointer;
      padding: 21px 15px;
      text-align: left;
      //max-width: 25%;
      //margin-right: 34px;
      //margin-bottom: 20px;
      //display: inline-block;
      //position: relative;
margin-bottom: 10px;
      border-radius: 3px;
      min-height: 82px;
      h4{
        margin-top: 0px;
        font-size: 14px;
      }
      p{
        margin-bottom: 0px;

      }

    }


  }
  .city-description > .dark-bg:last-of-type{
    margin-right: 0px;
  }
  .posts-wrap{
    //padding-bottom: 85px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    .post-wrap{

      margin-bottom: 54px;

      .description-post-img{
        width: 54px;
        height: 54px;
      }
      p{
        font-family: 'RobotoRegular', sans-serif;
        font-size: 16px;
        line-height: 1.6;
        color: #9099a3;
      }
      .border-bottom{
        height: 100%;
      }
    }

  }
}
#subscribe{
  padding-top: 70px;
  padding-bottom: 90px;
  .subscription-container{
    //display: flex;
    //align-items: center;

  }
  .subscribe-description{
    //display: flex;
    //align-items: center;
    .title{
      float: left;
      width: 100%;
    }
  }


}
input[type="text"], input[type="password"]{
  background-color: #ffffff;
  border: solid 1px #bbc4cd;
  height: 51px;
  width: 400px;

  font-size: 18px;
  line-height: 1;
  text-align: left;
  color: #bbc4cd;
  padding-left: 20px;
}
input[type="button"]{
  width: 211px;
  height: 60px;
  background-color: white;
  color: #6fb600;
  border: solid 1px #6fb600;

  font-family: 'RobotoBold';
  font-size: 24px;
}



#partners{
  padding-bottom: 100px;
  .bx-wrapper{
    max-width: 100% !important;
    height: 125px;
    margin-bottom: 0px;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  .bx-wrapper, .bx-viewport{
    height: 125px!important;
  }
  .partners-wrap{
    height: 100%;
//    text-align: center;
//    display: flex;
//    flex-flow: row wrap;
//    justify-content: space-around;
    .partner{
      height: 100%;
//      float: none;
//      display: inline-block;
//      padding: 20px;
    }
    img{
//      max-height: 60px;
//      max-width: 210px;
    }
  }
}
#contact{
  h1{
    margin-bottom: 75px;
  }
  .container.border-bottom{
    padding-bottom: 70px;
  }

  .contactinfo{
    p{
      font-size: 18px;
      line-height: 1.4;
      color: #38414b;
    }
  }



}
.wpcf7{
  input, textarea {
    margin-bottom: 29px;
  }
  input[type="text"], input[type="email"]{
    background-color: #ffffff;
    border: solid 1px #bbc4cd;
    height: 51px;
    width: 100%;

    font-size: 18px;
    line-height: 1.94;
    text-align: left;
    color: #bbc4cd;
    padding-left: 20px;
  }

  textarea {
    font-size: 18px;
    line-height: 1.94;
    text-align: left;
    color: #bbc4cd;
    padding-left: 20px;
    width: 100%;
    height: 120px;
    resize: none;
  }
}
input[type="button"], input[type="submit"]{
  width: 211px;
  height: 60px;
  background-color: white;
  color: #6fb600;
  border: solid 1px #6fb600;

  font-family: 'RobotoBold';
  font-size: 24px;

  -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.75);

  outline: 0;
}

input[type="button"]:active, input[type="submit"]:active{
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}
.address-icon, .phone-icon{
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 18px;
}
//.address-icon{
//  background: url( resources/images/icons/address.png) center center no-repeat;
//  @include bg-size( contain );
//
//}
//.phone-icon{
//  background: url( resources/images/icons/phone.png);
//  @include bg-size( contain );
//}
.address, .phone{
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: #38414b;
  padding-bottom: 48px;

  @include display-flex();
  align-items: center;
  p{

    margin-bottom: 0px;
  }
}

.vk-yellow-icon, .fb-yellow-icon{
  margin-right: 28px;
}
.vk-yellow-icon, .fb-yellow-icon, .telegraph-yellow-icon{
  width: 67px;
  height: 67px;
  display: inline-block;
  background-repeat: no-repeat;
}
.vk-yellow-icon{
  background: url( resources/images/icons/yellow/vk.png);
  @include bg-size( contain );
}
.fb-yellow-icon{
  background: url( resources/images/icons/yellow/fb.png);
  @include bg-size( contain );
}
.telegraph-yellow-icon{
  background: url( resources/images/icons/yellow/telegraph.png);
  @include bg-size( contain );
}

.bx-wrapper{
  .bx-controls-direction{
    a{
      @include transition( opacity, .3s, ease-in-out );
      opacity: 0;
    }
  }
}
.bx-wrapper:hover{
  .bx-controls-direction{
    a{
      opacity: 1;
    }
  }
}
#firstModal, #secondModal, #thirdModal, #fourthModal, #fifthModal, #sixthModal{
  padding-right: 0px!important;
  h4{
    position: relative;
    font-family: 'RobotoBold', sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.39;
    text-align: center;
    color: #38414b;
    margin-bottom: 20px;
  }
  p{
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    color: #9099a3;
  }
  .modal-body{
    padding: 30px;
  }
  .close {
    color: #000;
    top: 10px;
    right: 15px;
  }
}